@using HelpMyStreetFE.Helpers

@model HelpMyStreetFE.Models.Account.Volunteers.AssignCredentialsViewModel


<div class="popup__content__header">Add a volunteer credential</div>
<div class="popup__content__text">
    <p>You are about to add a <strong>@Model.Credential.Name</strong> for one of your volunteers. Please check the information below is correct and add any comments before Confirming.</p>

    <p><strong>Credential:</strong> @Model.Credential.Name</p>
    <p><strong>Volunteer:</strong> @Model.TargetUser.UserPersonalDetails.FullName()</p>
    <p><strong>Volunteer address:</strong> @Model.TargetUser.UserPersonalDetails.CommaSeparatedAddress()</p>
    <p>
        @if (Model.TargetUser.UserPersonalDetails.PhoneNumbers().Count() == 1)
        {
            <strong>Volunteer contact number:</strong>
        }
        else
        {
            <strong>Volunteer contact numbers:</strong>
        }
        @string.Join(" / ", Model.TargetUser.UserPersonalDetails.PhoneNumbers())
    </p>
    <p><strong>Volunteer email address:</strong> @Model.TargetUser.UserPersonalDetails.EmailAddress</p>

    <form>
        <div class="row">
            <div class="sm12 input">
                @Html.LabelFor(m => m.ValidUntil, $"When does this {Model.Credential.Name} expire?")

                <div class="tiles">
                    <div class="input">
                        <div class="row">
                            @foreach (var time in Model.ValidUntilOptions)
                            {
                                @Html.DisplayFor(x => time, "ValidUntilTile")
                            }
                            <div id="date-picker" class="input sm4 dnone tiles__textbox">
                                @Html.TextBoxFor(m => m.ValidUntil, new { @id = "datepicker", @autocomplete = "off", @placeholder = $"e.g. {DateTime.Now.AddYears(5).ToShortDateString()}" })
                            </div>
                        </div>
                        <span id="datepicker-error" class="error"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="sm12 input">
                @Html.LabelFor(m => m.Reference, "Reference number")
                @Html.TextBoxFor(m => m.Reference, new { @placeholder = $"If you have a reference number for this {Model.Credential.Name}, enter it here." })
            </div>
        </div>

        <div class="row">
            <div class="sm12 input">
                @Html.LabelFor(m => m.Notes, "Comments / Notes")
                @Html.TextAreaFor(m => m.Notes, new { @placeholder = "Use this space to record any comments or notes about the credential you are adding." })
            </div>
        </div>
    </form>


</div>
<div class="popup__content__buttons">
    <p class="error dnone"></p>
    <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Confirm" }' />
</div>

