@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreetFE.Helpers;

@model HelpMyStreetFE.Models.Account.Volunteers.AssignCredentialsViewModel

<div class="popup__content wide">
    <partial name="_PopupCloseButton" />
    <div class="popup__content__wrapper">
        <div class="popup__content__header">Add a volunteer credential</div>
        <div class="text-left">
            <p>You are about to add a <strong>@Model.Credential.Name</strong> for one of your volunteers. Please check the information below is correct and add any comments before Confirming.</p>

            <p class="mb-0"><strong class="mr-sm">Volunteer:</strong> @Model.TargetUser.UserPersonalDetails.FullName()</p>
            <p class="mb-0 mt-xs"><strong class="mr-sm">Volunteer address:</strong> @Model.TargetUser.UserPersonalDetails.CommaSeparatedAddress()</p>
            <p class="mb-0 mt-xs"><strong class="mr-sm">Volunteer date of birth:</strong> @Model.TargetUser.UserPersonalDetails.DateOfBirth.Value.FormatDate(DateTimeFormat.ShortDateFormat)</p>

            <form>
                <div class="row">
                    <div class="sm12 input">
                        @Html.LabelFor(m => m.ValidUntil, $"When does this {Model.Credential.Name} expire?")

                        <div class="tiles">
                            <div class="">
                                <div class="row">
                                    @foreach (var time in Model.ValidUntilOptions)
                                    {
                                        @Html.DisplayFor(x => time, "ValidUntilTile")
                                    }
                                    <div id="date-picker" class="sm4 dnone tiles__textbox">
                                        @Html.TextBoxFor(m => m.ValidUntil, new { @id = "datepicker", @autocomplete = "off", @placeholder = $"e.g. {DateTime.Now.AddYears(5).ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT)}" })
                                    </div>
                                </div>
                                <p id="datepicker-error" class="error"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="sm12 input">
                        @Html.LabelFor(m => m.Reference, "Reference number")
                        @Html.TextBoxFor(m => m.Reference, new { @placeholder = $"If you have a reference number for this {Model.Credential.Name}, enter it here." })
                        <span class="error"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="sm12 input">
                        @Html.LabelFor(m => m.Notes, "Comments / Notes")
                        @Html.TextAreaFor(m => m.Notes, new { @placeholder = "Use this space to record any comments or notes about the credential you are adding." })
                        <span class="error"></span>
                    </div>
                </div>
            </form>


        </div>
        <div class="popup__content__buttons mt-md">
            <p class="error dnone"></p>
            <partial name="_PopupAcceptButton" model='new PopupButtonModel { ButtonText = "Confirm" }' />
        </div>
    </div>
</div>
