@using HelpMyStreet.Utils.Enums; 
@using HelpMyStreetFE.Models.RequestHelp;
@{
    var viewModel = Model;
    var activties = new List<RequestActivityViewModel>
        {
            new RequestActivityViewModel{ Activity = SupportActivities.Shopping, Description = "Picking up essential groceries" },
            new RequestActivityViewModel{ Activity = SupportActivities.FaceMask, Description = "Providing a washable and reusable fabric face covering", IconClass = "icon-size-sm"},
            new RequestActivityViewModel{ Activity = SupportActivities.CheckingIn, Description = "Check that someone is OK" },
            new RequestActivityViewModel{ Activity = SupportActivities.CollectingPrescriptions ,Description = "Collecting from a local pharmacy" },
            new RequestActivityViewModel{ Activity = SupportActivities.Errands, Description = "Essential local errands (e.g. posting mail)" },
            new RequestActivityViewModel{ Activity = SupportActivities.DogWalking, Description = "Walking a calm dog" },
            new RequestActivityViewModel{ Activity = SupportActivities.MealPreparation, Description = "Getting a hot / pre-prepared meal" },
            new RequestActivityViewModel{ Activity = SupportActivities.PhoneCalls_Friendly, Description = "A friendly chat on the phone" },
            new RequestActivityViewModel{ Activity = SupportActivities.PhoneCalls_Anxious, Description = "Someone to talk through some challenges over the phone", IconClass="double-line-alignment" },
            new RequestActivityViewModel{ Activity = SupportActivities.HomeworkSupport, Description = "Support for children being homeschooled", IconClass="double-line-alignment"},
            new RequestActivityViewModel{ Activity = SupportActivities.Other, Description= "Please tell us more below" }
        };
}

    <div class="tiles">
        <div class="row">
            @foreach (var activity in activties)
            {
                <div class="sm4">
                    <div id="@activity.Activity" data-type="activities" class="tiles__tile tiles__tile--large  @activity.Activity.Class()">
                        <div class="tiles__tile__content ">
                            @if (!string.IsNullOrEmpty(activity.Activity.Icon()))
                            {
                                <div class="tiles__tile__content__icon"><img class="@activity.IconClass" src="~/img/icons/@activity.Activity.Icon()" /> </div>
                            }
                            else
                            {
                                <div class="mt-md"></div>
                            }
                            <div class="tiles__tile__content__header">@activity.Activity.FriendlyName()</div>
                            <div class="tiles__tile__content__description">@activity.Description</div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <span id="e-activity" class="error"></span>
    </div>







