@using HelpMyStreetFE.Models.RequestHelp;
@{
            var viewModel = Model;
            var timeframes = new List<RequestHelpTimeViewModel>
{
     new RequestHelpTimeViewModel{ID = 1, TimeDescription = "Today", Days = 0},
     new RequestHelpTimeViewModel{ID = 2, TimeDescription = "Within 24 Hours", Days = 1},
     new RequestHelpTimeViewModel{ID = 3, TimeDescription = "Within a Week", Days = 7},
     new RequestHelpTimeViewModel{ID = 4, TimeDescription = "When Convenient", Days = 14},
     new RequestHelpTimeViewModel{ID = 5, TimeDescription = "Something Else", AllowCustom = true},
    };
}

    <div class="tiles">
        <div class="row">
            @foreach (var time in timeframes)
            {
                <div class="sm4">
                    <div id="@time.ID" data-type="timeframe" data-allowcustom="@time.AllowCustom" data-val="@time.Days.ToString()" class="tiles__tile">
                        <div class="tiles__tile__content ">
                            <div class="tiles__tile__content__header pt-xs">@time.TimeDescription</div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="sm6 input dnone" id="CustomTime">
                <span>Within</span>
                <select>
                    <option value="" disabled selected>Please select</option>
                    @for (int i = 1; i <= 30; ++i)
                    {

                        if (i == 1)
                        {
                            <option value="@i.ToString()">@i Day</option>
                        }
                        else
                        {
                            <option value="@i.ToString()">@i Days</option>
                        }
                    }
                </select>
            </div>
        </div>
        <span id="e-time-frame" class="error"></span>
    </div>







