@model AuthenticateViewModel;

@{
    ViewData["Title"] = "Authenticate";
}

@section Scripts {
    <script>
        const initObj = { domId: '@Model.DomId', scenarioId: '@Model.ScenarioId', clientSdkId: '@Model.ClientSdkId' };
        window.location.href = window.location.href + "?id=" + "@Model.UserId"
    </script>
    <script src="~/yoti.js" asp-append-version="true"></script>
}

<div class="container">
    <div class="yoti__auth sm8">
        <div class="yoti__auth__header">Complete ID Verification with two clicks!</div>
        <div class="yoti__auth__explanation">
            <div class="yoti__auth__explanation__heading">How it works?</div>
            <partial name="_InstructionsMobile" />
            <partial name="_InstructionsDesktop" />
        </div>
        <div id="@Model.DomId"></div>
    </div>
</div>