@using HelpMyStreetFE.Models.Registration;
@using HelpMyStreet.Utils.Enums;
@using Westwind.AspNetCore.Markdown;

@model RegistrationViewModel

@section Scripts {
    <script>
        const activeStep = @Model.ActiveStep;
        const source = '@Model.RegistrationFormVariant';
    </script>
    <script src="~/registration.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Volunteers - Registration";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";


    var distanceOptions = new Dictionary<double, string>
    {
    { 0, "I'd prefer not to travel" },
    { 1, "Within 1 mile" },
    { 5, "Within 5 miles" },
    { 10, "Within 10 miles" },
    { 30, "Within 30 miles" },
    };
        }


    <div class="container">

        <partial name="_Stepper" for="ActiveStep" />

        <div class="row justify-center mt72">
            <div class="sm8">
                <h2>How can you help?</h2>
                @if (Context.Request.Query["failure"] == "error")
        {
                    <p class="orange">There has been an error submitting your details. Please check your entries and try again.</p>
                }
            </div>
        </div>
        <form id="registration_form" method="post">
            <input name="source" type="hidden" value="@Model.RegistrationFormVariant" />
            <div class="row justify-center">
                <div class="sm8">
                    <p>
                        HelpMyStreet will use the helping preferences you provide on this page to decide which notifications will
                        be most helpful to you. We may also show you requests in your profile that we think may be of interest, 
                        for example requests that are nearby or can be completed from home.
                    </p>
                    <h5>Activities I am interested in:</h5>
                    <p>(Please tick as many as you like)</p>
                    <span class="error" id="volunteer-error">Please select at least one option</span>
                    @foreach (var option in Model.ActivityDetails)
                    {
                        <div class="input input--checkbox">
                            <label for="volunteer-@option.SupportActivities">
                                <input name="volunteer[]" type="checkbox" id="volunteer-@option.SupportActivities" value="@option.SupportActivities" checked="@option.Selected" hidden />
                                <span class="input--checkbox__checkbox">
                                    <span class="mdi mdi-check"></span>
                                </span>
                                @Markdown.ParseHtmlString(option.Description)
                            </label>
                        </div>
                        <hr class="input--separator" />
                    }
                </div>
                <div class="sm8 mt40">
                    <h5>I am happy to travel:</h5>
                    <p>If you need to travel to complete a request &ndash; for example to deliver someone&rsquo;s shopping &ndash; tell us how far you&rsquo;re happy to travel.</p>
                    <span class="error" id="distance-error">Please select an option</span>
                    @foreach (var option in distanceOptions)
                    {
                        <div class="input input--radio">
                            <label for="volunteer-distance-@option.Key">
                                <input name="volunteer_distance" type="radio" id="volunteer-distance-@option.Key" value="@option.Key" hidden />
                                <span class="input--radio__radio">
                                    <span class="input--radio__radio__inner"></span>
                                </span>
                                @option.Value
                            </label>
                        </div>
                        <hr class="input--separator" />
                    }
                </div>

                <div class="sm8">
                    <div class="controls">
                        <button class="btn large cta fill" id="submit_button" type="submit">
                            <span class="text">Complete registration &gt;</span>
                            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Completing..."}' /></div>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
