@using HelpMyStreetFE.Models.Registration;

@model RegistrationViewModel;

@section Scripts {
    <script>
        const activeStep = @Model.ActiveStep;
        const configuration = { firebase: @Html.Raw(Json.Serialize(@Model.FirebaseConfiguration))};
        const source = '@Model.Source';
        const referringGroupId = '@Model.ReferringGroupID'
    </script>
    <script src="~/registration.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

    <div class="container">
        <partial name="_Stepper" for="ActiveStep" />
        <div class="row justify-center mt72">
            <div class="sm8">
                <h1>Sign up to help</h1>
                <p>
                    <span class="bold">Registering is quick and easy.</span> You&rsquo;ll be able to view all open requests from groups you are a member of, although some may require further checks or training before you can accept them.
                </p>
                @if (Context.Request.Query["failure"] == "error")
                {
                    <p class="orange">There has been an error submitting your details. Please check your entries and try again.</p>
                }
            </div>
        </div>
        <div class="row justify-center">
            <div class="sm8">
                <form id="registration_form" method="post">
                    <div class="input">
                        <label for="email">Email address</label>
                        <input name="email" id="email" type="Email" value = "@Model.Email" placeholder="Enter your email address" />
                        <span class="error"></span>
                    </div>
                    <div class="input">
                        <label for="password">Password</label>
                        <input name="password" id="password" type="Password" placeholder="Password" />
                        <span class="error"></span>
                        <span class="input__hint">(10+ characters including an uppercase letter, a lowercase letter and a number)</span>
                    </div>
                    <div class="input">
                        <label for="confirm-password">Confirm password</label>
                        <input name="confirm_password" id="confirm-password" type="Password" placeholder="Password" />
                        <span class="error"></span>
                    </div>
                    <div class="mt-md">
                        <label>The information you provide may be shared with volunteer coordinators to help manage requests. You can read more in our <a href="/privacy-policy">Privacy Notice</a>.</label>
                    </div>
                    <div class="input input--checkbox">
                        <label for="privacy-and-terms">
                            <input name="privacy_and_terms" id="privacy-and-terms" type="checkbox" hidden />
                            <span class="input--checkbox__checkbox">
                                <span class="mdi mdi-check"></span>
                            </span>
                            I have read and agree to the HelpMyStreet <a href="/terms-conditions">Terms & Conditions</a> and <a href="/privacy-policy">Privacy Notice</a>
                            <div class="error"></div>
                        </label>
                    </div>
                    <div class="controls">
                        <button class="btn cta large fill" id="submit_button" type="submit">
                            <span class="text">Continue <span class="large-screen-only">to next page</span> &gt;</span>
                            <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Next Step..."}' /></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>