@using HelpMyStreetFE.Models.Registration;

@model StepFourRegistrationViewModel;

@section Scripts {
    <script>
        const activeStep = @Model.ActiveStep;
    </script>
    <script src="~/registration.js" asp-append-version="true"></script>
}

@{
    var responsibilities = new Dictionary<char, string>
{
        { '1', "Communicate with people who are sheltering safely at home and/or their friends and family." },
        { '2', "Co-ordinate and complete their requests for help, by working with local Helpers or completing them yourself." },
        { '3', "Collaborate with other Street Champions." },
        { '4', "Respect people, their needs and their personal information." }
    };
}


<div class="container">

    <partial name="_Stepper" for="ActiveStep" />

    <div class="row justify-center mt72">
        <div class="sm8">
            <h2>Street Champions</h2>
            @if (Context.Request.Query["failure"] == "error")
            {
                <p class="orange">There has been an error submitting your details. Please check your entries and try again.</p>
            }
        </div>
    </div>
    <form id="registration_form" method="post">
        <div class="row justify-center">
            <div class="sm8 list">
                @foreach (var responsibility in responsibilities)
                {
                    <div class="list__item">
                        <span class="list__item__point circle">@responsibility.Key</span>
                        <span class="list__item__text">@responsibility.Value</span>
                    </div>
                }
            </div>
            <div class="sm8">
                <div class="input input--checkbox">
                    <label>
                        <input name="street_champion" type="checkbox" value="true" hidden />
                        <span class="input--checkbox__checkbox">
                            <span class="mdi mdi-check"></span>
                        </span>
                        I understand and agree to undertake the role of a Street Champion
                    </label>
                </div>
            </div>
            <div class="expander sm8">
                <h5>Please choose your streets below (3 max)</h5>
                @foreach (var pc in Model.NearbyPostCodes)
                {
                    <div class="input input--checkbox">
                        <label class="postcode_checkbox">
                            <input name="postcodes[]" type="checkbox" value="@pc.Postcode" hidden />
                            <span class="input--checkbox__checkbox">
                                <span class="mdi mdi-check"></span>
                            </span>
                            @pc.FriendlyName @pc.Postcode
                        <span class="message">
                            @if (Model.LocalAvailability)
                            {
                                if (pc.ChampionCount < 2)
                                {
                                    if (pc.Postcode == Model.UsersPostCode.Postcode)
                                    {
                                        @("Your street needs a Street Champion, can you help?")
                                    }
                                    else
                                    {
                                        @("Your local neighbours might need help here.")
                                    }
                                }
                                else
                                {
                                    @("We already have Street Champions here. Can you help others nearby?")
                                }
                            }
                            else
                            {
                                @("Coverage is good in your area, but you can still add yourself as an additional street champion.")
                            }
                        </span>
                        </label>
                    </div>
                    <hr class="input--separator" />
                }
            </div>

            <div class="sm8">
                <div class="controls">
                    <button class="btn large cta fill" id="submit_button" type="submit">
                        <span class="text">Continue to next page &gt;</span>
                        <span class="loader">Creating account&hellip;</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>