@using HelpMyStreetFE.Models.Feedback
@using HelpMyStreet.Utils.Enums;


@model FeedbackCaptureEditModel




@Html.AntiForgeryToken()

<div class="row">
    <div class="sm12 input tile-selector">
        @Html.EditorFor(m => m.FeedbackRating, new { htmlAttributes = new { @class ="dnone"} })
        <label for="rating">How was your experience with HelpMyStreet?</label>
        <div class="tiles reduce-width">
            <div class="row">
                <div class="sm6">
                    <div class="tiles__tile tile-selector__tile @(Model.FeedbackRating == FeedbackRating.HappyFace ? "selected": "")" data-type="rating" data-value="@FeedbackRating.HappyFace">
                        <div class="tiles__tile__content">
                            <div class="tiles__tile__content__icon">
                                <img src="~/img/icons/face-great.svg" alt="Happy face" class="xxl pt-sm" />
                            </div>
                            <div class="tiles__tile__content__description">
                                Great
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm6">
                    <div class="tiles__tile tile-selector__tile @(Model.FeedbackRating == FeedbackRating.SadFace ? "selected": "")" data-type="rating" data-value="@FeedbackRating.SadFace">
                        <div class="tiles__tile__content">
                            <div class="tiles__tile__content__icon">
                                <img src="~/img/icons/face-not-so-great.svg" alt="Sad face" class="xxl pt-sm" />
                            </div>
                            <div class="tiles__tile__content__description">
                                Not so great
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="error"></span>
    </div>
</div>

@if (Model.ShowVolunteerMessage)
{
    <div class="row">
        <div class="sm12 input">
            <label for="@nameof(Model.VolunteerMessage)">Would you like to pass a message on to <strong>@Model.VolunteerName</strong>, @(Model.RoleSubmittingFeedback == RequestRoles.Recipient ? "your volunteer?" : "who completed this task?")</label>
            @Html.TextAreaFor(m => m.VolunteerMessage, new { @placeholder = "Leave a message for " + (Model.RoleSubmittingFeedback == RequestRoles.Recipient ? "your" : "the") + " volunteer..." })
        </div>
    </div>
}

@if (Model.ShowRecipientMessage)
{
    <div class="row">
        <div class="sm12 input">
            <label for="@nameof(Model.RecipientMessage)">Would you like to pass a message on to <strong>@Model.RecipientName</strong>?</label>
            @Html.TextAreaFor(m => m.RecipientMessage, new { @placeholder = "Leave a message for the person you helped..." })
        </div>
    </div>
}

@if (Model.ShowRequestorMessage)
{
    <div class="row">
        <div class="sm12 input">
            @if (Model.RoleSubmittingFeedback == RequestRoles.Recipient)
            {
                <label for="@nameof(Model.RequestorMessage)"><strong>@Model.RequestorName</strong> submitted this help on your behalf.  Would you like to pass on a message so they know how it went?</label>
            }
            else
            {
                <label for="@nameof(Model.RequestorMessage)">This help was requested by <strong>@Model.RequestorName</strong> for <strong>@Model.RecipientName</strong>.  Would you like to pass a message on to <strong>@Model.RequestorName</strong>?</label>
            }
            @Html.TextAreaFor(m => m.RequestorMessage, new { @placeholder = "Leave a message for the person who requested the help..." })
        </div>
    </div>
}

@if (Model.ShowGroupMessage)
{
    <div class="row">
        <div class="sm12 input">
            <label for="@nameof(Model.GroupMessage)">This request was managed by <strong>@Model.GroupName</strong>. Got some feedback for them?</label>
            @Html.TextAreaFor(m => m.GroupMessage, new { @placeholder = $"Leave your comments and compliments for their team here.", @class = "shrink grow-on-focus" })
        </div>
    </div>
}

@if (Model.ShowHMSMessage)
{
    <div class="row">
        <div class="sm12 input">
            <label for="@nameof(Model.HMSMessage)">Got some feedback about HelpMyStreet?</label>
            @Html.TextAreaFor(m => m.HMSMessage, new { @placeholder = "Leave your comments and compliments here.", @class = "shrink grow-on-focus" })
        </div>
    </div>
}

