@model HelpMyStreetFE.Models.Awards.AwardsViewModel;
@using HelpMyStreetFE.Models.Awards;


@if (Model.CurrentAward.Award != null)
{
    @if (Model.CurrentAward.NextAwardLevel != 0)
    {
        <div class="award">

            <span class="tooltiptext">As a HelpMyStreet.org volunteer, you gain awards for completing tasks. Complete another @(Model.CurrentAward.NextAwardLevel - Model.CurrentAward.CurrentAwardLevel) request@(Model.CurrentAward.NextAwardLevel - Model.CurrentAward.CurrentAwardLevel == 1 ? "" : "s") to get to the next award level!</span>
            <div class="user-badge">
                <img src="@Model.CurrentAward.Award.ImageLocation" />

                <div class="user-detail">
                    <h4 class="mini-user-profile__user-name m-0">@Model.User.UserPersonalDetails.DisplayName</h4>
                    <h5>@Model.CurrentAward.Award.AwardName</h5>
                    <span>
                        <progress id="pg-bar" max="@Model.CurrentAward.NextAwardLevel" value="@Model.CurrentAward.CurrentAwardLevel"></progress>
                        <label for="pg-bar">@(Model.CurrentAward.NextAwardLevel - Model.CurrentAward.CurrentAwardLevel) request@(Model.CurrentAward.NextAwardLevel - Model.CurrentAward.CurrentAwardLevel == 1 ? "" : "s") until next level</label>
                    </span>
                </div>
            </div>
            <div>
                <p class="award-description">@Html.Raw(Model.CurrentAward.Award.AwardDescription)</p>

            </div>
        </div>
    }
    else
    {
        <div class="award">

            <span class="tooltiptext">As a HelpMyStreet.org volunteer, you gain awards for completing tasks. You've reached the highest and most prestigious award level available, but we're always making more so check back soon!</span>
            <div class="user-badge">
                <img src="@Model.CurrentAward.Award.ImageLocation" />

                <div class="user-detail">
                    <h4 class="mini-user-profile__user-name m-0">@Model.User.UserPersonalDetails.DisplayName</h4>
                    <h5>@Model.CurrentAward.Award.AwardName</h5>
                    <span>
                        <progress id="pg-bar" max="10" value="10"></progress>
                        <label for="pg-bar">Maximum Award Level</label>
                    </span>
                </div>
            </div>
            <div>
                <p class="award-description">@Html.Raw(Model.CurrentAward.Award.AwardDescription)</p>

            </div>
        </div>
    }
}

