@model HelpMyStreetFE.Models.Awards.AwardsViewModel;
@using HelpMyStreetFE.Models.Awards;


    @if (Model.CurrentAward.Award != null)
    {
        <div class="award">
            <div class="user-badge">
                <img src="@Model.CurrentAward.Award.ImageLocation" />

                <div>
                    <h4 class="mini-user-profile__user-name m-0">@Model.User.UserPersonalDetails.DisplayName</h4>
                    <h5>@Model.CurrentAward.Award.AwardName</h5>
                    <span>
                        <progress id="pg-bar" max="@Model.CurrentAward.NextAwardLevel" value="@Model.CurrentAward.CurrentAwardLevel"></progress>
                        <label for="pg-bar">@(Model.CurrentAward.NextAwardLevel-Model.CurrentAward.CurrentAwardLevel) requests until next level</label>
                    </span>
                </div>
            </div>
            <div>
                <p class="mb0">@Html.Raw(Model.CurrentAward.Award.AwardDescription)</p>

            </div>
        </div>
        <script>var nextAwardLevel = @Model.CurrentAward.NextAwardLevel</script>
    }

