@using HelpMyStreetFE.Helpers;

@model HelpMyStreetFE.Models.Account.Volunteers.VolunteerListViewModel

<div class="volunteer-list">
    <dl>
        @foreach (var volunteer in Model.Volunteers.OrderBy(v => v.User.UserPersonalDetails.FullName()))
        {
            <dt>
                @volunteer.User.UserPersonalDetails.FullName()
                <span class="volunteer-list__roles">
                    @volunteer.RolesSummary
                </span>
                <span>
                    @volunteer.User.UserPersonalDetails.LocationSummary()
                </span>
                <span>
                    @volunteer.CompletedRequests
                </span>
            </dt>
            <dd>
                <span>
                    @Html.DisplayFor(x => volunteer.User.UserPersonalDetails.Address)
                </span>
                <span>
                    <a href="mailto:@volunteer.User.UserPersonalDetails.EmailAddress">@volunteer.User.UserPersonalDetails.EmailAddress</a>
                </span>
                <span>
                    @string.Join(" / ", volunteer.User.UserPersonalDetails.PhoneNumbers())
                </span>
            </dd>
        }
    </dl>
</div>
