@using HelpMyStreet.Utils.Extensions

@model HelpMyStreetFE.Models.Account.Volunteers.VolunteerListViewModel

<div class="volunteer-list">
    <dl>
        @foreach (var volunteer in Model.Volunteers.OrderBy(v => v.User.UserPersonalDetails.DisplayName))
        {
            <dt>
                @volunteer.User.UserPersonalDetails.FirstName @volunteer.User.UserPersonalDetails.LastName
                <span class="volunteer-list__roles">
                    @string.Join(", ", volunteer.Roles.Select(r => r.FriendlyName()))
                </span>
            </dt>
            <dd>
                <span>
                    <a href="mailto:@volunteer.User.UserPersonalDetails.EmailAddress">@volunteer.User.UserPersonalDetails.EmailAddress</a>
                </span>
                <span>
                    @volunteer.User.UserPersonalDetails.Address.Postcode
                </span>
                <span>
                    @string.Join(" / ", (new[] { volunteer.User.UserPersonalDetails.MobilePhone, volunteer.User.UserPersonalDetails.OtherPhone }).Where(s => !string.IsNullOrEmpty(s)))
                </span>
            </dd>
        }
    </dl>
</div>
