@using HelpMyStreetFE.Helpers;

@model HelpMyStreetFE.Models.Account.Volunteers.VolunteerListViewModel

<div class="volunteer-list">
    @foreach (var volunteer in Model.Volunteers.OrderBy(v => v.User.UserPersonalDetails.FullName()))
    {
        <div class="volunteer-list__volunteer generic-expander">
            <div class="volunteer-list__volunteer__summary">
                <div class="row">
                    <div class="sm3">
                        @volunteer.User.UserPersonalDetails.FullName()
                        <span class="volunteer-list__roles">
                            @volunteer.RolesSummary
                        </span>
                    </div>
                    <div class="sm2">
                        @volunteer.User.UserPersonalDetails.LocationSummary()
                    </div>
                    <div class="sm1">
                        @volunteer.CompletedRequests
                    </div>
                    <div class="sm6">
                        @foreach (var credential in volunteer.Credentials.OrderBy(c => c.GroupCredential.DisplayOrder))
                        {
                            @credential.GroupCredential.Name
                            @credential.UserHasCredential
                        }
                    </div>

                </div>
                <a href="#" class="generic-expander__controls">
                    <span class="open">View more info</span>
                    <span class="close">View less info</span>
                </a>
            </div>
            <div class="volunteer-list__volunteer__detail generic-expander__content">
                <dl>
                    <dt>Address</dt>
                    <dd>@Html.DisplayFor(x => volunteer.User.UserPersonalDetails.Address)</dd>
                    <dt>Email Address</dt>
                    <dd><a href="mailto:@volunteer.User.UserPersonalDetails.EmailAddress">@volunteer.User.UserPersonalDetails.EmailAddress</a></dd>
                    <dt>@(volunteer.User.UserPersonalDetails.PhoneNumbers().Count() > 1 ? "Phone numbers" : "Phone number")</dt>
                    <dd>@string.Join(" / ", volunteer.User.UserPersonalDetails.PhoneNumbers())</dd>
                    <dt>Volunteering Radius</dt>
                    <dd>@volunteer.User.SupportRadiusMiles miles</dd>
                    <dt>Selected Activities</dt>
                    <dd>@string.Join(", ", volunteer.User.SupportActivities.Select(a => a.FriendlyName()))</dd>
                </dl>
            </div>

        </div>
    }
</div>
