@using HelpMyStreetFE.Helpers;

@model HelpMyStreetFE.Models.Account.Volunteers.VolunteerListViewModel

<div class="volunteer-list">
    @foreach (var volunteer in Model.Volunteers.OrderBy(v => v.User.UserPersonalDetails.FullName()))
    {
        <div class="volunteer-list__volunteer generic-expander">
            <div class="volunteer-list__volunteer__summary">
                @volunteer.User.UserPersonalDetails.FullName()
                <span class="volunteer-list__roles">
                    @volunteer.RolesSummary
                </span>
                <span>
                    @volunteer.User.UserPersonalDetails.LocationSummary()
                </span>
                <span>
                    @volunteer.CompletedRequests
                </span>
                <span>
                    @foreach (var credential in volunteer.Credentials.OrderBy(c => c.GroupCredential.DisplayOrder))
                    {
                        @credential.GroupCredential.Name
                        @credential.UserHasCredential
                    }
                </span>
                <span>
                    <a href="#" class="generic-expander__control open">View more info <span></span></a>
                    <a href="#" class="generic-expander__control close">View less info <span></span></a>
                </span>
            </div>
            <div class="volunteer-list__volunteer__detail generic-expander__content">
                <span>
                    @Html.DisplayFor(x => volunteer.User.UserPersonalDetails.Address)
                </span>
                <span>
                    <a href="mailto:@volunteer.User.UserPersonalDetails.EmailAddress">@volunteer.User.UserPersonalDetails.EmailAddress</a>
                </span>
                <span>
                    @string.Join(" / ", volunteer.User.UserPersonalDetails.PhoneNumbers())
                </span>
                <span>
                    @string.Join(", ", volunteer.User.SupportActivities.Select(a => a.FriendlyName()))
                </span>
                <span>
                    @volunteer.User.SupportRadiusMiles miles
                </span>
            </div>

        </div>
    }
</div>
