@using HelpMyStreetFE.Helpers;

@model HelpMyStreetFE.Models.Account.Volunteers.VolunteerListViewModel

@{ 
    int i = 0;
}

<script>
    document.documentElement.style.setProperty("--numberOfCredentials", @Model.GroupCredentials.Count());
</script>

<div class="volunteer-list generic-expander">

    <div class="location header">Location</div>
    <div class="completed-requests header">Completed Requests</div>
    @foreach (var credential in Model.GroupCredentials.OrderBy(c => c.DisplayOrder))
    {
        <div class="pad-xs credential header">@credential.Name</div>
    }

    @foreach (var volunteer in Model.Volunteers.OrderBy(v => v.User.UserPersonalDetails.FullName()))
    {
        i++;
        <div class="name-wrapper">
            <span class="name">
                @volunteer.User.UserPersonalDetails.FullName()
            </span>
            <span class="roles">
                @volunteer.RolesSummary
            </span>
            <a href="#" class="generic-expander__controls" data-expander-target="volunteer-details-@i">
                <span class="open">View more info</span>
                <span class="close">View less info</span>
            </a>
        </div>
        <div class="location">
            <span class="small-screen-only">Location: </span>
            @volunteer.User.UserPersonalDetails.LocationSummary()
        </div>
        <div class="completed-requests">
            <span class="small-screen-only">Completed Requests: </span>
            @volunteer.CompletedRequests
        </div>
        @foreach (var credential in volunteer.Credentials.OrderBy(c => c.GroupCredential.DisplayOrder))
        {
            <div class="pad-xs credential">
                @if (credential.UserHasCredential)
                {
                    <img src="~/img/icons/green-tick.svg" alt="tick" title="@credential.GroupCredential.Name: Yes" />
                }
                else
                {
                    <span class="cross" title="@credential.GroupCredential.Name: No">X</span>
                }
                <span class="small-screen-only">
                    @credential.GroupCredential.Name
                </span>
            </div>
        }

        <div id="volunteer-details-@i" class="volunteer-list__volunteer-detail generic-expander__content">
            <dl>
                <dt>Address</dt>
                <dd>@Html.DisplayFor(x => volunteer.User.UserPersonalDetails.Address)</dd>
                <dt>Email Address</dt>
                <dd><a href="mailto:@volunteer.User.UserPersonalDetails.EmailAddress">@volunteer.User.UserPersonalDetails.EmailAddress</a></dd>
                <dt>@(volunteer.User.UserPersonalDetails.PhoneNumbers().Count() > 1 ? "Phone numbers" : "Phone number")</dt>
                <dd>@string.Join(" / ", volunteer.User.UserPersonalDetails.PhoneNumbers())</dd>
                <dt>Volunteering Radius</dt>
                <dd>@volunteer.User.SupportRadiusMiles miles</dd>
                <dt>Selected Activities</dt>
                <dd>@string.Join(", ", volunteer.User.SupportActivities.Select(a => a.FriendlyName()))</dd>
            </dl>
        </div>
    }
</div>
