@using HelpMyStreetFE.Models.Community;

@model CommunityViewModel

<div class="slider">
    <div class="slides">
        @foreach (var volunteer in Model.CommunityVolunteers)
        {
        <div class="volunteer">
            @if (volunteer.LogoHyperLink?.Length > 0)
            {
                <a href="@volunteer.LogoHyperLink" target="_blank"><img class="slide @(volunteer.ShowSmallLogo ? "small" : "") @(volunteer.IsLogo ? "logo" : "")" src="@volunteer.ImageLocation" alt="@volunteer.Name" /></a>
            }
            else
            {
                <img class="slide @(volunteer.ShowSmallLogo ? "small" : "") @(volunteer.IsLogo ? "logo" : "")" src="@volunteer.ImageLocation" alt="@volunteer.Name" />
            }

            @if (volunteer.Name != null)
            {<p class="bold mt-sm mb-xs">@volunteer.Name</p>}
            @if (volunteer.Role != null)
            {<p class="mt-xs mb-xs ">@volunteer.Role</p>}
            @if (volunteer.Location != null)
            {<p class="mt-xs mb-xs">@volunteer.Location</p>}
        </div>
        }
    </div>
</div>

