@using HelpMyStreetFE.Models.Community;

@model CommunityViewModel

@{ 
    var selectedFlag = Model.Flags.First(f => f.IsSelected);
} 

<div class="flag-panel-container pt-sm pb-sm">
    <a class="flag-panel-toggle" href="#">
        <span>
            Select language
        </span>
        <div class="">
            <img class="slide logo" src="@selectedFlag.ImageLocation" alt="@selectedFlag.Name" />
        </div>
    </a>
    <div class="flag-panel">
        <div class="flag-panel-inner">
            @foreach (var flags in Model.Flags)
            {
                <div class="flag-container @(flags.IsSelected ? "selected" : "")">
                    <a href="/boston/@flags.Language">
                        <img class="slide logo" src="@flags.ImageLocation" alt="@flags.Name" />
                        <span>@flags.Name</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
