@using HelpMyStreetFE.Models.Community;

@model CommunityViewModel

@{ 
    var selectedFlag = Model.Flags.First(f => f.IsSelected);
    var selectLanguageText = "";

    switch (Model.Language)
    {
        case "Bulgarian":
            selectLanguageText = "Избор на език";
            break;
        case "Polish":
            selectLanguageText = "Wybierz język";
            break;
        case "Latvian":
            selectLanguageText = "Izvēlieties valodu";
            break;
        case "Lithuanian":
            selectLanguageText = "Pasirinkite kalbą";
            break;
        case "Portugese":
            selectLanguageText = "Selecionar idioma";
            break;
        case "English":
            selectLanguageText = "Select language";
            break;
        case "Russian":
            selectLanguageText = "Выберите язык";
            break;
        case "Romanian":
            selectLanguageText = "Selectați limba";
            break;

    }
        } 

<div class="flag-panel-container pt-sm pb-sm">
    <a class="flag-panel-toggle" href="#">
        <span>
            @selectLanguageText
        </span>
        <div class="">
            <img class="slide logo" src="@selectedFlag.ImageLocation" alt="@selectedFlag.Name" />
        </div>
    </a>
    <div class="flag-panel">
        <div class="flag-panel-inner">
            @foreach (var flags in Model.Flags)
        {
                <div class="flag-container @(flags.IsSelected ? "selected" : "")">
                    <a href="/boston/@flags.Language">
                        <img class="slide logo" src="@flags.ImageLocation" alt="@flags.Name" />
                        <span>@flags.Name</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
