@model HelpMyStreetFE.Models.Community.SignUpLogInJoinLeaveViewModel

@if (!Model.CommunityViewModel.IsLoggedIn)
{
    <a href="/login/@Model.CommunityViewModel.EncodedGroupId?ReturnUrl=/community/joinandgo/@Model.CommunityViewModel.EncodedGroupId" class="btn cta small btn--sign-up@(Model.CommunityViewModel.ShowPopupOnSignUp ? "-popup" : "") fill ">Sign Up or Log In</a>
}
else
{
    <a href="#" class="btn cta small fill btn--join-group show-to-non-members @(Model.CommunityViewModel.IsGroupMember ? "dnone" : "")" data-target-group="@Model.CommunityViewModel.EncodedGroupId">Join Our Group</a>

    @if (Model.CommunityViewModel.Group.TasksEnabled)
    {
        <a href="/account/open-requests" class="btn cta small fill btn--view-requests show-to-members @(Model.CommunityViewModel.IsGroupMember ? "" : "dnone") ">View Open Requests</a>
    }

    @if (Model.CommunityViewModel.Group.ShiftsEnabled)
    {
        <a href="/account/open-shifts" class="btn cta small fill btn--view-requests show-to-members @(Model.CommunityViewModel.IsGroupMember ? "" : "dnone") ">View Open Shifts</a>
    }

    @if (Model.ShowLeaveButton)
    {
        <a href="#" class="btn small fill cta--orange-border btn--leave-group show-to-members ml-md @(Model.CommunityViewModel.IsGroupMember ? "" : "dnone")" data-target-group="@Model.CommunityViewModel.EncodedGroupId">Leave Group</a>
    }
}
