@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner">
            <img src="~/img/community/ageUK/midmersey/banner.png" alt="AgeUK Mid Mersey" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center justify-center content-page pad-md">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Welcome to Age UK Mid Mersey</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Age UK Mid Mersey are committed to looking after the wellbeing of older people across St Helens, Halton, Knowsley and Warrington.
                    </p>

                    <p class="mt-sm">If you'd like information or support for someone aged 50+ give us a call on 0300 003 1992.</p>

                    <p class="mt-sm">When our lines are busy or unattended, you will hear a recorded message - please leave your name, phone number and a brief reason for your call and we will phone you back.</p>

                    <div class="row sm12 text-center justify-center mb-sm">
                        <p>To register your interest as a community volunteer sign up and join our group to see what opportunities we have available.</p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md card">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">Welcome from Age UK Mid Mersey</h2>
            </div>
        </div>
        <partial name="_CommunityVolunteersSlider" model="Model" />
        <div class="container">
            <p>Age UK Mid Mersey is an independent, registered charity working with and on behalf of older people in Halton, Knowsley, St Helens and Warrington.</p>
            <p><strong>Important COVID-19 Update</strong><br />Sadly, due to the COVID-19 pandemic, we have had to put many of our face to face services and activities on hold for the time being. However, Age UK Mid Mersey remains committed to providing the best support possible to older people in our local communities. We are still here to help and can offer Information and Advice, FREE benefit checks and Home Energy checks, wellbeing support and signposting. </p>
            <p>Here are a few of the services we offer:</p>
            <ul>
                <li><strong>Befriending service</strong>, our visitor and telephone befriending services offer support and companionship to older people who are socially isolated.</li>
                <li><strong>Dementia cafés</strong>, we provide an advisory service, reminiscence sessions and peer group support for older people who have been diagnosed with low level dementia.</li>
                <li><strong>Helping Hands Service</strong>, our Helping Hands volunteers provide help with those odd little jobs that can cause a big headache for older and vulnerable people.</li>
            </ul>
            <p>
                If you would like to request help for yourself or a loved one, please give us a call on 0300 003 1992 or fill in our <a href="https://www.ageuk.org.uk/midmersey/about-us/contact-us/online-enquiry-form/">online enquiry form</a>.
            </p>
            <p>
                <strong>Would you like to join us as a volunteer?</strong><br />Volunteering is a great way to meet new people, learn new skills, and support the work we do in the community. If you have a couple hours to spare each week you could really help to make a difference.
            </p>
            <p>
                We have a wide range of roles available, and with HelpMyStreet it's easy to find the ones that suit you. Use the green buttons on this page to sign up, join our group and view the opportunities we have available.
            </p>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            If you'd like information or support for someone aged 50+ give us a call on 0300 003 1992.
                            When our lines are busy or unattended, you will hear a recorded message - please leave your name, phone number and a brief reason for your call and we will phone you back.
                        </p>
                    </div>
                </div>
                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to help your neighbours. Just let us know when, where and how you can help. You can choose to help a little, or to help a lot! We're grateful for every contribution.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of @(Model.CommunityName)  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.ageuk.org.uk/midmersey/">Our website</a> - Find out more on our Age UK homepage</p>
                    <p><a href="https://www.ageuk.org.uk/bp-assets/globalassets/mid-mersey/get-involved/age-uk-safeguarding.pdf">Age UK Safeguarding Factsheet</a> - To help identify situations where someone might be experiencing abuse or neglect</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey })
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            If you'd like information or support for someone aged 50+ give us a call on 0300 003 1992.
                            When our lines are busy or unattended, you will hear a recorded message - please leave your name, phone number and a brief reason for your call and we will phone you back.
                        </p>
                    </div>
                </div>
                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to help your neighbours. Just let us know when, where and how you can help. You can choose to help a little, or to help a lot! We're grateful for every contribution.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of @(Model.CommunityName)  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>


</div>