@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = "Apex PCN Bank Staff", PrimaryMobileText = "Apex PCN Bank Staff", ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community content-page" data-group-id="@Model.EncodedGroupId">
    <div class="container">

        <div class="community-banner">
            <img src="~/img/community/vacc/apex-pcn-bank-staff/banner.png" alt="Apex PCN Bank Staff" />
        </div>
        <div class="vaccination-banner pt-sm pb-sm mb-sm-md">
            <div class="vaccination-banner__inner pt-xs pb-xs">
                We&rsquo;re supporting the COVID-19 vaccination programme - Find out more below
            </div>
        </div>

    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm4 align-center justify-center text-center content-page mr-md">

                    <h2 class="mb0 mt-md">Welcome to APEX PCN for Bank Staff</h2>

                    <p class='row sm12 text-center justify-center mb-sm'>
                        The APEX Primary Care Network (PCN) is looking to source the best bank staff to support the delivery of COVID-19 vaccinations in these unprecedented but exciting times.
                    </p>
                    <p class="row sm12 text-center justify-center mb-sm ">
                        Our local COVID-19 Vaccination Site is:
                        <strong>Ruston Sports & Social Club, Newark Road, Lincoln, LN6 8RN</strong>
                    </p>

                    <p class="row sm12 text-center justify-center mb-sm ">
                        More information about the roles available and their essential criteria is available further down this page. Please only register your interest if you meet the essential criteria for one or more available roles.
                    </p>


                    <div class="row sm12 text-center justify-center mb-md">
                        <p class="mt-sm mb-lg pl-md pr-md">
                            To register your interest as a bank staff member sign up or log in below.
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                    </div>
                </div>




                <div class="sm6 pl-md">
                    <iframe src="https://player.vimeo.com/video/509165522" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/509165522">covid_vaccinations_APEX</a> from <a href="https://vimeo.com/user49075068">Lincolnshire NHS</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    @*<div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Welcome from APEX PCN</h2>

                    <div>
                        <div class="outer-container outer-container--darker">
                            <partial name="_CommunityVolunteersSlider" model="Model" />
                        </div>
                        <p><strong>About the COVID-19 Vaccination Programme support opportunities</strong></p>
                        <p>
                            APEX PCN invite you to join the most forward thinking and innovative Primary Care Network (PCN) in the Midlands.
                        </p>
                        <p>
                            Current opportunities:
                        </p>
                        <p><strong>Bank staff vaccinators</strong>
                            <ul>
                                <li>Daily shift pattern: 08:30am &#8211; 12.30pm / 13:00pm &#8211; 17:00pm / 08:30am &#8211; 17:00pm</li>
                                <li>Location: Ruston Sports & Social Club, Newark Road, Lincoln, LN6 8RN</li>
                                <li>
                                    Essential criteria:
                                    <ul>
                                        <li>Registered with either the NMC, GMC or GPhC</li>
                                        <li>Learning and assessments of the mandated vaccination courses/programmes on Immunisation - e-Learning for Healthcare (<a href="http://e-lfh.org.uk">e-Learning for Healthcare</a>) as per training recommendations for COVID-19 vaccinators - GOV.UK (<a href="https://www.gov.uk/government/publications/covid-19-vaccinator-training-recommendations">COVID-19: vaccinator training recommendations</a>)</li>
                                        <li>BLS and anaphylaxis training undertaken within the last year</li>
                                        <li>Completion of the COVID-19 vaccinator competency toolkit</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        <p>If you are interested in this role please email a copy of the relevant completion certificates to Gary Burroughs (PCN Manager) at <a href="mailto:g.burroughs@nhs.net">g.burroughs@nhs.net</a>. All staff will be given a full induction, supported by the centre manager, current vaccinators and advanced practitioners.</p>
                        <p>There are no other roles available at this time.</p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Join APEX PCN Bank Staff!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to view and book onto our open shifts. We look forward to welcoming you onto the team!
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of APEX PCN Bank Staff.  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="/pdf/lincs-vaccination-support/apex-pcn-bank-staff/vaccine-station-faqs.pdf">Vaccine Station FAQs</a> - Frequently asked questions provided APEX PCN vaccinators</p>
                    <p><a href="/pdf/lincs-vaccination-support/apex-pcn-bank-staff/lvs-new-model-contract.pdf">Example employment contract</a> - Model contract for employment</p>
                    <p><a href="/pdf/lincs-vaccination-support/apex-pcn-bank-staff/covid-19-stay-safe.pdf">Staying COVID-19 Secure</a> - Five steps to safer working together</p>
                    <p><a href="/pdf/lincs-vaccination-support/apex-pcn-bank-staff/confidentiality-policy-agreement.pdf">APEX PCN Confidentiality Policy</a></p>
                </div>
            </div>
            
        </div>
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">
                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Join APEX PCN Bank Staff!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to view and book onto our open shifts. We look forward to welcoming you onto the team!
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of APEX PCN Bank Staff.  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>