@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner crop-when-oversize">
            <img src="~/img/community/bostongns/banner.png" alt="Boston" />
        </div>
    </div>
    <div class="outer-container outer-container--darker mt-lg mb-lg">
        <div class="container">
            <partial name="_FlagPanelSlider" model="Model" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Witamy w programie Boston Good Neighbour Scheme, czyli w Programie Dobrego Sąsiada</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Programy Dobrego Sąsiada prowadzone są przez lokalnych wolontariuszy, którzy zapewniają codzienne wsparcie innym mieszkańcom, potrzebującym pomocy okazjonalnie lub regularnie. Dla osób starszych, wsparcie to może umożliwić im niezależne życie w ich własnych domach i społecznościach przez dłuższy czas oraz zmniejszyć poczucie izolacji i samotności.
                    </p>

                    <p class='mt-sm mb-xs'>
                        Tutaj w Bostonie, możemy pomóc każdemu poprzez:
                    </p>

                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Odbieranie niezbędnych zakupów</li>
                        <li>Załatwianie spraw lokalnych</li>
                        <li>Wsparcie praktyczne</li>
                        <li>Przyjazną pogawędkę</li>
                        <li>Pomoc przy innych kwestiach, wystarczy podpytać!</li>
                    </ul>

                    @*<div class="row sm6 text-center justify-center mb-sm">
                            <p class="mt-sm mb-sm pl-md pr-md">
                                If you or someone you know needs help, complete our quick and easy online form.
                            </p>
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>*@

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            Aby zgłosić swoje zainteresowanie wolontariatem społecznym i znaleźć możliwości w pobliżu, zarejestruj się lub zaloguj już dziś.
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Programy Dobrego Sąsiedztwa - Pomoc dla Twojej społeczności</h2>
                    <div class="outer-container outer-container--darker">
                        <partial name="_CommunityVolunteersSlider" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Co to jest Program Dobrego Sąsiada?</h2>
                    <p>Programy Dobrego Sąsiada to projekty wspólnotowe prowadzone i realizowane przez grupy lokalnych wolontariuszy. Choć potencjalnie przynoszą one korzyści całej społeczności, są ukierunkowane przede wszystkim na pomoc osobom starszym, niepełnosprawnym, bezbronnym, słabym lub odizolowanym. Pomoc udzielana jest osobom potrzebującym bezpłatnie, choć zwykle pobierana jest rozsądna opłata za kilometr transportu.</p>
                    <p><strong>W czym możesz pomóc?</strong></p>
                    <p>Programy Dobrego Sąsiada odpowiadają na potrzeby lokalnych mieszkańców, zapewniając pomoc w takich działaniach jak:</p>
                    <ul>
                        <li>Zaprzyjaźnianie się, wizyty domowe, towarzystwo, także podczas spotkań towarzyskich</li>
                        <li>Spacery z psami i opieka nad zwierzętami podczas wakacji lub choroby</li>
                        <li>Sprawy bieżące i zakupy</li>
                        <li>Wypełnianie formularzy, pisanie listów, czytanie i pomoc w korzystaniu z komputera i Internetu</li>
                        <li>Ogrodnictwo</li>
                        <li>Podwiezienie do przychodni lekarskiej, kliniki, szpitala, ośrodka dziennego pobytu, na inne wizyty</li>
                        <li>Prace domowe, w tym ustawienie telewizorów, wymiana żarówek i czujników dymu</li>
                        <li>Przenoszenie mebli, zdejmowanie i wieszanie zasłon i obrazów</li>
                    </ul>
                    <p>Chodzi o to, by lokalni mieszkańcy pomagali swoim sąsiadom cieszyć się lepszą jakością życia. Programy Dobrego Sąsiada pomagają stworzyć środowisko, w którym ludzie czują się bezpiecznie, ponieważ mają ze sobą autentyczny kontakt.</p>
                    <p><strong>Jak mogę poprosić o pomoc?</strong></p>
                    <p>W tej chwili koncentrujemy się na rekrutacji wolontariuszy. Jak tylko będziemy w stanie, uruchomimy formularz online, który będziesz mógł wypełnić, aby poprosić o pomoc dla siebie lub w imieniu innej osoby (za jej zgodą), jeśli mieszka ona w rejonie Bostonu. Formularz wniosku będzie dostępny na tej stronie, więc obserwuj to miejsce!</p>
                    <p><strong>Jak zostać Dobrym Sąsiadem?</strong></p>
                    <p>Jeśli chciałbyś zaoferować swój czas i wsparcie, aby pomóc swoim sąsiadom, zarejestruj się i dołącz do naszej grupy już dziś, klikając na jeden z zielonych przycisków na tej stronie. Po zarejestrowaniu się będziesz mógł zobaczyć dostępne zapytania w Twojej okolicy. Możesz zaakceptować tyle zgłoszeń, ile zechcesz, taką liczbę jaka Tobie odpowiada - jesteśmy wdzięczni za każdy wkład.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Zostań naszym wolontariuszem!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Przyłącz się do nas, aby pomóc swoim sąsiadom. Po prostu daj nam znać, kiedy, gdzie i jak możesz pomóc. Możesz wybrać, czy chcesz pomóc trochę, czy dużo! Jesteśmy wdzięczni za każdy wkład.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Dziękujemy za bycie częścią społeczności Bostonu i okolic. Kliknij poniżej, aby zobaczyć zapytania o pomoc.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Przydatne linki</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.mybostonuk.com/">Rada Dzielnicy Boston</a> - Strona główna urzędu gminy</p>
                    <p><a href="https://www.lincsymca.co.uk/communities/">Strona społeczności YMCA</a> - Dowiedz się więcej o projektach społecznych wspieranych przez YMCA Lincolnshire</p>
                    <p><a href="https://www.mybostonuk.com/ehcprogramme/">Program Empowering Healthy Communities</a> - Dowiedz się więcej o inicjatywie Rady Miejskiej Bostonu (ang. Boston Borough Council) dotyczącej zdrowia i dobrego samopoczucia, której celem jest wspieranie mieszkańców w trakcie i po Covid-19.</p>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Wspólnota i wolontariat Lincolnshire</a> - Skorzystaj z zasobów LCVS, które pomogą Ci w pełni wykorzystać wolontariat</p>
                    <h5>Inne sposoby uzyskania wsparcia w Bostonie:</h5>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">Age UK Lincoln & South Lincolnshire</a> - Uzyskaj wsparcie dla osób starszych w Lincoln i Lincolnshire</p>
                    <p><a href="https://boston.foodbank.org.uk/">Bank Żywności w Boston</a> - Dowiedz się, jak uzyskać pomoc z bostońskiego banku żywności</p>
                    <p><a href="https://centrepoint-outreach.com/">Centralny Punkt Kontaktowy</a> - Wspieranie osób bezdomnych, samotnych i bezbronnych</p>
                    <p><a href="https://www.citizensadvice.org.uk/local/mid-lincolnshire/">Citizens Advice Mid Lincolnshire</a> - Bezpłatne, poufne i bezstronne porady</p>
                    <p><a href="https://www.wellbeinglincs.org/">Wellbeing Lincs</a> - Wellbeing Lincs jest usługą ogólnokrajową, która może zapewnić bardziej specjalistyczne wsparcie i osobisty plan wsparcia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey, language = "Polish" })
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    @*<div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>*@

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Zostań naszym wolontariuszem!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Przyłącz się do nas, aby pomóc swoim sąsiadom. Po prostu daj nam znać, kiedy, gdzie i jak możesz pomóc. Możesz wybrać, czy chcesz pomóc trochę, czy dużo! Jesteśmy wdzięczni za każdy wkład.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Dziękujemy za bycie częścią społeczności Bostonu i okolic. Kliknij poniżej, aby zobaczyć zapytania o pomoc.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>