@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner crop-when-oversize">
            <img src="~/img/community/bostongns/banner.png" alt="Boston" />
        </div>
    </div>
    <div class="outer-container outer-container--darker mt-lg mb-lg">
        <div class="container">
            <partial name="_FlagPanelSlider" model="Model" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Laipni lūdzam Bostonas Labo kaimiņu programmā</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Labo kaimiņu shēmas vada vietējie brīvprātīgie, kuri ikdienā sniedz atbalstu citiem iedzīvotājiem, kuriem palīdzība var būt nepieciešama neregulāri vai regulāri. Vecāka gadagājuma cilvēkiem šāds atbalsts var ļaut ilgāk patstāvīgi dzīvot savās mājās un sabiedrībā un mazināt izolētības un vientulības sajūtu.
                    </p>

                    <p class='mt-sm mb-xs'>
                        Šeit, Bostonā, mēs varam palīdzēt ikvienam ar:
                    </p>

                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Nepieciešamo iepirkumu atvešanu</li>
                        <li>Vietējiem darbiņiem</li>
                        <li>Praktisko atbalstu</li>
                        <li>Draudzīgām sarunām </li>
                        <li>Ja ir vēl kaut kas, jautājiet!</li>
                    </ul>

                    @*<div class="row sm6 text-center justify-center mb-sm">
                            <p class="mt-sm mb-sm pl-md pr-md">
                                If you or someone you know needs help, complete our quick and easy online form.
                            </p>
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>*@

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            Lai reģistrētu savu interesi par brīvprātīgo darbu sabiedrībā un atrastu iespējas savā tuvumā, reģistrējieties vai piesakieties šodien
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Laba kaimiņa shēmas - palīdzība jūsu kopienai</h2>
                    <div class="outer-container outer-container--darker">
                        <partial name="_CommunityVolunteersSlider" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Kas ir Laba kaimiņa shēma?</h2>
                    <p>Laba kaimiņa programmas ir kopienas projekti, ko vada un īsteno vietējo brīvprātīgo grupas. Lai gan no tiem labumu var gūt visa kopiena, to mērķis galvenokārt ir palīdzēt vecāka gadagājuma cilvēkiem, invalīdiem, neaizsargātiem, vārgiem vai izolētiem cilvēkiem. Palīdzība tiem, kam tā nepieciešama, tiek sniegta bez maksas, lai gan parasti tiek piemērota samērīga maksa par transporta nobraukumu.</p>
                    <p><strong>Ar ko jūs varat palīdzēt?</strong></p>
                    <p>Laba kaimiņa programmas atbilst vietējo iedzīvotāju vajadzībām, sniedzot palīdzību tādās aktivitātēs kā:</p>
                    <ul>
                        <li>Sadraudzēšanās, mājas apmeklējumi, pavadīšana, kāds, ar ko doties uz sabiedriskiem pasākumiem</li>
                        <li>Suņu izvešana pastaigās un mājdzīvnieku aprūpe atvaļinājuma vai slimības laikā</li>
                        <li>Darījumi un iepirkšanās</li>
                        <li>Veidlapu aizpildīšana, vēstuļu rakstīšana, lasīšana un palīdzība datora un interneta lietošanā</li>
                        <li>Dārzkopība</li>
                        <li>Aizvešana līdz ģimenes ārsta klīnikai, poliklīnikai, slimnīcai, dienas centram, uz citām tikšanās reizēm</li>
                        <li>Mājsaimniecības darbi, tostarp televizoru regulēšana, spuldžu un dūmu detektoru nomaiņa</li>
                        <li>Mēbeļu pārvietošana, aizkaru un attēlu noņemšana un piekāršana</li>
                    </ul>
                    <p>Tā ir par to, kā vietējie iedzīvotāji palīdz saviem kaimiņiem baudīt labāku dzīves kvalitāti. Laba kaimiņa shēmas palīdz radīt vidi, kurā cilvēki jūtas droši un aizsargāti, jo viņiem ir patiesa saikne vienam ar otru.</p>
                    <p><strong>Kā pieprasīt palīdzību?</strong></p>
                    <p>Pašlaik mēs koncentrējamies uz brīvprātīgo nolīgšanu. Tiklīdz būs iespēja, mēs izveidosim tiešsaistes pieprasījuma veidlapu, kuru varēsiet aizpildīt, lai lūgtu palīdzību sev vai kādam citam (ar viņu atļauju), ja viņi dzīvo Bostonas apgabalā. Pieprasījuma veidlapa būs pieejama šajā lapā, tāpēc sekojiet līdzi informācijai šeit!</p>
                    <p><strong>Kā kļūt par labu kaimiņu?</strong></p>
                    <p>Ja vēlaties piedāvāt savu laiku un atbalstu, lai palīdzētu saviem kaimiņiem, reģistrējieties un pievienojieties mūsu grupai jau šodien, noklikšķinot uz vienas no zaļajām pogām šajā lapā. Kad esat reģistrējies, jūs varēsiet redzēt atvērtos pieprasījumus savā apgabalā. Jūs varat izvēlēties pieņemt tik daudz vai tik maz, cik vēlaties, atkarīgi no tā, kas jums ir piemērots - mēs esam pateicīgi par katru ieguldījumu.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Kļūsti par brīvprātīgo kopā ar mums!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Pievienojieties mums, lai palīdzētu saviem kaimiņiem. Vienkārši paziņojiet mums, kad, kur un kā varat palīdzēt. Jūs varat izvēlēties palīdzēt mazliet vai vairāk! Mēs esam pateicīgi par katru ieguldījumu.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Paldies, ka esat daļa no Bostonas un tās apkārtnes. Noklikšķiniet zemāk, lai apskatītu palīdzības pieprasījumus.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Noderīgas saites</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.mybostonuk.com/">Bostonas rajona padome</a> - Jūsu vietējās pašvaldības mājas lapa</p>
                    <p><a href="https://www.lincsymca.co.uk/communities/">YMCA Kopienas lapa</a> - Uzziniet vairāk par kopienas projektiem, ko atbalsta YMCA Lincolnshire</p>
                    <p><a href="https://www.mybostonuk.com/ehcprogramme/">Programma "Veselīgu kopienu stiprināšana"</a> - Uzziniet vairāk par Bostonas rajona padomes veselības un labklājības iniciatīvu, kuras mērķis ir atbalstīt iedzīvotājus Kovid-19 laikā un pēc tā.</p>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Linkolnšīras Kopienas un brīvprātīgo dienests</a> - Izmantojiet LCVS resursus, lai palīdzētu jums gūt maksimālu labumu no brīvprātīgā darba.</p>
                    <h5>Citi veidi, kā saņemt atbalstu Bostonā:</h5>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">Age UK Labdarība Linkolnā un Dienvidlinkolnšīrā</a> - Saņemiet atbalstu vecākiem cilvēkiem Linkolnā un Linkolnšīrā</p>
                    <p><a href="https://boston.foodbank.org.uk/">Bostonas pārtikas banka</a> - Uzziniet, kā saņemt palīdzību no Bostonas pārtikas bankas</p>
                    <p><a href="https://centrepoint-outreach.com/">Centrepoint Programma </a> - Atbalsts bezpajumtniekiem, vientuļiem un neaizsargātiem cilvēkiem</p>
                    <p><a href="https://www.citizensadvice.org.uk/local/mid-lincolnshire/">Citizens Advice konsultācijas Linkolnšīras vidusdaļā</a> - Bezmaksas, konfidenciāli un objektīvi padomi</p>
                    <p><a href="https://www.wellbeinglincs.org/">Wellbeing Lincs</a> - Wellbeing Lincs ir grāfistes mēroga pakalpojumu dienests, kas var sniegt plašāku speciālistu atbalstu un individuālu atbalsta plānu.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey, language = "Latvian" })
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    @*<div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>*@

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Kļūsti par brīvprātīgo kopā ar mums!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Pievienojieties mums, lai palīdzētu saviem kaimiņiem. Vienkārši paziņojiet mums, kad, kur un kā varat palīdzēt. Jūs varat izvēlēties palīdzēt mazliet vai vairāk! Mēs esam pateicīgi par katru ieguldījumu.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Paldies, ka esat daļa no Bostonas un tās apkārtnes. Noklikšķiniet zemāk, lai apskatītu palīdzības pieprasījumus.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>