@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner crop-when-oversize">
            <img src="~/img/community/bostongns/banner.png" alt="Boston" />
        </div>
    </div>
    <div class="outer-container outer-container--darker mt-lg mb-lg">
        <div class="container">
            <partial name="_FlagPanelSlider" model="Model" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Welcome to Boston Good Neighbour Scheme</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Good Neighbour Schemes are run by local volunteers who provide day to day support for other residents who may need help on an occasional or regular basis. For older people, this support may enable them to live independently in their own homes and communities for longer and reduce feelings of isolation and loneliness.
                    </p>

                    <p class='mt-sm mb-xs'>
                        Here in Boston, we can help everyone with:
                    </p>

                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Collecting essential shopping</li>
                        <li>Local errands</li>
                        <li>Practical support</li>
                        <li>A friendly chat</li>
                        <li>Anything else, just ask!</li>
                    </ul>

                    @*<div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            If you or someone you know needs help, complete our quick and easy online form.
                        </p>
                        <partial name="_RequestHelpButton" model="Model" />
                    </div>*@

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            To register your interest as a community volunteer and find opportunities near you, sign up or log in today
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Good Neighbour Schemes - Helping Your Community</h2>
                    <div class="outer-container outer-container--darker">
                        <partial name="_CommunityVolunteersSlider" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">What is a Good Neighbour Scheme?</h2>
                    <p>Good Neighbour Schemes are community projects run and delivered by groups of local volunteers. Whilst potentially benefiting the whole community, they are aimed primarily at helping elderly, disabled, vulnerable, frail or isolated people. Help is given to those in need free of charge although a reasonable charge is usually made for transport mileage.</p>
                    <p><strong>What can you help with?</strong></p>
                    <p>Good Neighbour Schemes respond to the needs of local people by providing help with activities such as:</p>
                    <ul>
                        <li>Befriending, home visiting, companionship, someone to go to social events with</li>
                        <li>Dog walking and caring for pets during holiday or illness</li>
                        <li>Errands and shopping</li>
                        <li>Filling in forms, writing letters, reading and help to use computers and the internet</li>
                        <li>Gardening</li>
                        <li>Giving lifts to a GP surgery, clinic, hospital, Day Centre, other appointments</li>
                        <li>Household tasks including tuning televisions, changing light bulbs and smoke alarms</li>
                        <li>Moving furniture, taking down and hanging curtains and pictures</li>
                    </ul>
                    <p>It is about local people helping their neighbours to enjoy a better quality of life. Good Neighbour Schemes help create an environment where people feel safe and secure because they have genuine connection with one another.</p>
                    <p><strong>How do I request help?</strong></p>
                    <p>At the moment we’re focussing on recruiting volunteers. As soon as we’re able we’ll launch an online request form which you’ll be able to complete to request help for yourself or on someone else's behalf (with their permission) if they're living in the Boston area. The request form will be available on this page so watch this space!</p>
                    <p><strong>How do I become a Good Neighbour?</strong></p>
                    <p>If you would like to offer your time and support to help your neighbours, sign up and join our group today by clicking on one of the green buttons on this page. Once you're registered you'll be able to see open requests in your area. You can choose to accept as many or as few as you like, whatever suits you - we're grateful for every contribution.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                        </div>

                    </div>
                </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to help your neighbours. Just let us know when, where and how you can help. You can choose to help a little, or to help a lot! We're grateful for every contribution.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of @(Model.CommunityName).  Click below to view help requests.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.mybostonuk.com/">Boston Borough Council</a> - Your local council homepage</p>
                    <p><a href="https://www.lincsymca.co.uk/communities/">YMCA Community Page</a> - Find out more about community projects supported by YMCA Lincolnshire</p>
                    <p><a href="https://www.mybostonuk.com/ehcprogramme/">Empowering Healthy Communities Programme</a> - Find out more about the Boston Borough Council health and wellbeing initiative designed to support residents during and beyond Covid-19.</p>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Lincolnshire Community and Voluntary Service</a> - Use LCVS’s resources to help you get the most out of volunteering</p>
                    <h5>Other ways to access support in Boston:</h5>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">Age UK Lincoln & South Lincolnshire</a> - Get support for older people in Lincoln and Lincolnshire</p>
                    <p><a href="https://boston.foodbank.org.uk/">Boston Foodbank</a> - Find out how to get help from the Boston foodbank</p>
                    <p><a href="https://centrepoint-outreach.com/">Centrepoint Outreach</a> - Supporting people who are homeless, lonely and vulnerable</p>
                    <p><a href="https://www.citizensadvice.org.uk/local/mid-lincolnshire/">Citizens Advice Mid Lincolnshire</a> - Free, confidential and impartial advice</p>
                    <p><a href="https://www.wellbeinglincs.org/">Wellbeing Lincs</a> - Wellbeing Lincs is a countywide service that can provide more specialist support and a personal support plan.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey, language = "English" })
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>How can we help?</h2>
                        <p class="mt-sm mb-md">
                            We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                        </div>

                    </div>
                </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Join us to help your neighbours. Just let us know when, where and how you can help. You can choose to help a little, or to help a lot! We're grateful for every contribution.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of @(Model.CommunityName).  Click below to view help requests.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>