@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner crop-when-oversize">
            <img src="~/img/community/bostongns/banner.png" alt="Boston" />
        </div>
    </div>
    <div class="outer-container outer-container--darker mt-lg mb-lg">
        <div class="container">
            <partial name="_FlagPanelSlider" model="Model" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Добре дошли в Бостънската Програма за Добросъседство</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Програмите  за Добросъседство се ръководят  от местни доброволци, които осигуряват ежедневна подкрепа на  други жители, които може да се нуждаят от помощ от време на време  или редовно.  Тази подкрепа може да позволи на по-възрастните хора   да живеят  независимо в собствените си домове и общности по-дълго време и да намали чувството на изолация и самота.
                    </p>

                    <p class='mt-sm mb-xs'>
                        Тук, в Бостън, можем да помогнем на всички с:
                    </p>

                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Пазаруване на основни стоки</li>
                        <li>Малки поръчки в околността </li>
                        <li>Практическа подкрепа</li>
                        <li>Приятелски разговор</li>
                        <li>С всичко останало, просто попитайте!</li>
                    </ul>

                    @*<div class="row sm6 text-center justify-center mb-sm">
                            <p class="mt-sm mb-sm pl-md pr-md">
                                If you or someone you know needs help, complete our quick and easy online form.
                            </p>
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>*@

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            За да заявите интереса си като доброволец в общността и да намерите възможности за доброволческа работа близо до Вас, регистрирайте се или влезте в системата днес
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Програми  за Добросъседство – В Помощ на Вашата Общност</h2>
                    <div class="outer-container outer-container--darker">
                        <partial name="_CommunityVolunteersSlider" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Какво представлява Програмата за Добросъседство?</h2>
                    <p>Програмите за Добросъседство са общностни проекти, които се ръководят  и изпълняват от групи от местни доброволци. Макар да носят потенциална полза за цялата общност, те са насочени предимно към подпомагане на възрастни хора, хора с увреждания, уязвими, слаби и изолирани хора. Помощта за нуждаещите се е безплатна, въпреки че обикновено се заплаща разумна такса за транспорт.</p>
                    <p><strong>С какво можете да помогнете?</strong></p>
                    <p>Програмите  за Добросъседство отговарят на нуждите на местните хора, като им осигуряват помощ за дейности като:</p>
                    <ul>
                        <li>Завързване на приятелства, посещения у дома, компания, някой, който да ги придружава  на социални събития</li>
                        <li>Разхождане на кучета и грижи за домашни любимци по време на почивка или заболяване</li>
                        <li>Поръчки и пазаруване</li>
                        <li>Попълване на формуляри, писане на писма, четене и помощ в  използването на компютри и интернет</li>
                        <li>Градинарство</li>
                        <li>Осигуряване на превоз до кабинет на личен лекар, клиника, болница, дневен център и други ангажименти</li>
                        <li>Домакински задачи, включително настройка на телевизори, смяна на крушки и аларми за дим</li>
                        <li>Преместване на мебели, сваляне и окачване на завеси и картини</li>
                    </ul>
                    <p>Идеята е местните хора да помагат на съседите си да подобрят качеството си на живот. Програмите  за Добросъседство спомагат за създаването на среда, в която хората се чувстват сигурни и спокойни, защото имат истинска връзка помежду си.</p>
                    <p><strong>Как да поискам помощ?</strong></p>
                    <p>В момента вниманието ни е насочено към набирането на доброволци. При първа възможност, ще пуснем онлайн формуляр за заявка, който ще можете да попълните, за да поискате помощ за себе си или от името на някой друг (с тяхното  разрешение), ако те живеят  в района на Бостън. Формулярът за заявка ще бъде достъпен на тази страница, затова следете редовно!</p>
                    <p><strong>Как мога да стана добър съсед?</strong></p>
                    <p>Ако искате да предложите времето и подкрепата си на съседите си, регистрирайте се и се присъединете към нашата група още днес, като кликнете върху някой от зелените бутони на тази страница. След като се регистрирате, ще можете да видите отворените заявки във Вашия район. Можете да изберете да приемете толкова, колкото желаете и колкото Ви устройва – ще сме благодарни за всеки принос.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Станете доброволец при нас!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Присъединете се към нас, за да помогнете на съседите си. Просто ни уведомете кога, къде и как можете да помогнете. Можете да изберете да помогнете малко или много! Благодарни сме за всеки принос.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Благодарим Ви, че сте част от Бостън и околностите. Кликнете по-долу, за да видите заявките за помощ.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Полезни връзки</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.mybostonuk.com/">Общински съвет Бостън</a> - Начална страница на Вашия местен съвет</p>
                    <p><a href="https://www.lincsymca.co.uk/communities/">Страница на общността на „YMCA“</a> - Научете повече за общностните проекти, подкрепяни от „YMCA“ Линкълншър</p>
                    <p><a href="https://www.mybostonuk.com/ehcprogramme/">Програма “Глас за Здрави Общности”</a> - Научете повече за инициативата на общинския съвет на Бостън за здраве и благополучие, в подкрепа на жителите по време на и след Ковид-19.</p>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Общностна и доброволческа служба Линкълншър</a> - Използвайте ресурсите на „LCVS“, за да извлечете най-голяма  полза от доброволческата работа</p>
                    <h5>Други начини за достъп до подкрепа в Бостън:</h5>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">„Age UK“ Линкълн и Южен Линкълншър</a> - Получете подкрепа за възрастни хора в Линкълн и Линкълншyр</p>
                    <p><a href="https://boston.foodbank.org.uk/">Бостънска хранителна банка</a> - Научете как да получите помощ от хранителната банка в Бостън</p>
                    <p><a href="https://centrepoint-outreach.com/">„Сентърпойнт аутрийч“ (Centrepoint Outreach)</a> - Подкрепа за бездомни, самотни и уязвими хора</p>
                    <p><a href="https://www.citizensadvice.org.uk/local/mid-lincolnshire/">Консулатации за граждани „Мид Линкълншър“</a> - Безплатни, поверителни и безпристрастни съвети</p>
                    <p><a href="https://www.wellbeinglincs.org/">„Уелбиинг Линкс“ (Wellbeing Lincs)</a> - „Уелбиинг Линкс“ е служба в целия окръг , която може да предложи по-специализирана подкрепа и личен план за подкрепа.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey, language = "Bulgarian" })
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    @*<div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>*@

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Станете доброволец при нас!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Присъединете се към нас, за да помогнете на съседите си. Просто ни уведомете кога, къде и как можете да помогнете. Можете да изберете да помогнете малко или много! Благодарни сме за всеки принос.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Благодарим Ви, че сте част от Бостън и околностите. Кликнете по-долу, за да видите заявките за помощ.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>