@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">
    <div class="container">
        <div class="community-banner crop-when-oversize">
            <img src="~/img/community/bostongns/banner.png" alt="Boston" />
        </div>
    </div>
    <div class="outer-container outer-container--darker mt-lg mb-lg">
        <div class="container">
            <partial name="_FlagPanelSlider" model="Model" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000 text-center">
                        <h2 class="mb0 mt-md">Добро пожаловать в Программу добрососедства Бостона</h2>
                    </header>

                    <p class='mt-sm mb-s'>
                        Программы добрососедства находятся под управлением местных волонтеров, которые оказывают повседневную поддержку другим жителям, нуждающимся в помощи периодически или на регулярной основе. Для пожилых людей такая поддержка может позволить им дольше жить независимо в своих домах и общинах и уменьшить чувство изоляции и одиночества.
                    </p>

                    <p class='mt-sm mb-xs'>
                        Здесь, в Бостоне, мы можем помочь каждому:
                    </p>

                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Сбор необходимых покупок</li>
                        <li>Местные поручения</li>
                        <li>Практическая поддержка</li>
                        <li>Дружеская беседа</li>
                        <li>Все остальное — спрашивайте!</li>
                    </ul>

                    @*<div class="row sm6 text-center justify-center mb-sm">
                            <p class="mt-sm mb-sm pl-md pr-md">
                                If you or someone you know needs help, complete our quick and easy online form.
                            </p>
                            <partial name="_RequestHelpButton" model="Model" />
                        </div>*@

                    <div class="row sm6 text-center justify-center mb-md">
                        <p class="mt-sm mb-sm pl-md pr-md">
                            Чтобы зарегистрироваться в качестве общественного волонтера и найти ближайшие возможности, зарегистрируйтесь или войдите в систему уже сегодня
                        </p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Программы добрососедства — помощь вашей общине</h2>
                    <div class="outer-container outer-container--darker">
                        <partial name="_CommunityVolunteersSlider" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Что такое программа добрососедства?</h2>
                    <p>Программы добрососедства — это общественные проекты, управляемые и реализуемые группами местных волонтеров. Несмотря на потенциальную пользу для всего сообщества, они направлены в первую очередь на помощь пожилым, инвалидам, уязвимым, немощным или изолированным людям. Помощь нуждающимся оказывается бесплатно, хотя за транспортный пробег обычно взимается разумная плата.</p>
                    <p><strong>Чем вы можете помочь?</strong></p>
                    <p>Программы добрососедства отвечают потребностям местных жителей, предоставляя помощь в таких видах деятельности, как:</p>
                    <ul>
                        <li>Дружеская поддержка, посещение на дому, дружеское общение, сопровождение на общественные мероприятия</li>
                        <li>Выгул собак и уход за домашними животными во время отпуска или болезни</li>
                        <li>Поручения и покупки</li>
                        <li>Заполнение бланков, написание писем, чтение и помощь в использовании компьютеров и интернета</li>
                        <li>Садоводство</li>
                        <li>Услуги транспортировки к доктору, в клинику, больницу, дневной центр, на другие встречи</li>
                        <li>Бытовые работы, включая настройку телевизоров, замену лампочек и дымовых сигнализаций</li>
                        <li>Перемещение мебели, снятие и развешивание штор и картин</li>
                    </ul>
                    <p>Речь идет о том, что местные жители помогают своим соседям улучшить качество жизни. Программы добрососедства помогают создать среду, в которой люди чувствуют себя спокойно и уверенно, потому что у них есть настоящая связь друг с другом.</p>
                    <p><strong>Как обратиться за помощью?</strong></p>
                    <p>В настоящее время мы сосредоточены на наборе волонтеров. Как только у нас появится возможность, мы запустим онлайн-форму запроса, которую вы сможете заполнить, чтобы попросить помощи для себя или от имени кого-то другого (с его разрешения), если он(-а) живет в районе Бостона. Форма запроса будет доступна на этой странице, так что следите за новостями!</p>
                    <p><strong>Как стать добрым соседом?</strong></p>
                    <p>Если вы хотите предложить свое время и поддержку для помощи соседям, зарегистрируйтесь и присоединитесь к нашей группе сегодня, нажав на одну из зеленых кнопок на этой странице. После регистрации вы сможете видеть открытые заявки в вашем районе. Вы можете принять больше или меньше заявок, как вам удобно — мы благодарны за любой вклад.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Станьте волонтером вместе с нами!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Присоединяйтесь к нам, чтобы помочь своим соседям. Просто сообщите нам, когда, где и как вы можете помочь. Вы можете оказать большую или незначительную помощь! Мы благодарны за любой вклад.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Спасибо, что Вы – часть Бостона и его окрестностей. Нажмите ниже, чтобы просмотреть запросы на помощь.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Полезные ссылки</h2>
            </div>
            <div class="row flex justify-center">
                <div id="resources" class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.mybostonuk.com/">Совет Бостонского округа</a> - Домашняя страница вашего местного совета</p>
                    <p><a href="https://www.lincsymca.co.uk/communities/">Страница сообщества Христианской Ассоциации молодых Людей (YMCA)</a> - Узнайте больше об общественных проектах, поддерживаемых YMCA в Линкольншире</p>
                    <p><a href="https://www.mybostonuk.com/ehcprogramme/">Программа «Расширение возможностей здоровых сообществ»</a> - Узнайте больше об инициативе Совета Бостона по охране здоровья и благополучия, направленной на поддержку жителей во время и после Covid-19.</p>
                    <p><a href="http://www.lincolnshirecvs.org.uk/">Линкольнширская общественная и добровольная служба (LCVS)</a> - Используйте ресурсы LCVS, чтобы получить максимальную отдачу от волонтерства</p>
                    <h5>Другие способы получения поддержки в Бостоне:</h5>
                    <p><a href="https://www.ageuk.org.uk/lincolnsouthlincolnshire/">Age UK в Линкольне и Южном Линкольншире</a> - Получение поддержки для пожилых людей в Линкольне и Линкольншире</p>
                    <p><a href="https://boston.foodbank.org.uk/">Бостонский банк продовольствия</a> - Узнайте, как получить помощь от Бостонского банка продовольствия</p>
                    <p><a href="https://centrepoint-outreach.com/">Centrepoint Outreach</a> - Поддержка бездомных, одиноких и уязвимых людей</p>
                    <p><a href="https://www.citizensadvice.org.uk/local/mid-lincolnshire/">Гражданская консультация в Центральном Линкольншире</a> - Бесплатные, конфиденциальные и беспристрастные консультации</p>
                    <p><a href="https://www.wellbeinglincs.org/">Wellbeing Lincs</a> - Wellbeing Lincs — это служба по всему округу, которая может предоставить более специализированную поддержку и личный план поддержки.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey, language = "Russian" })
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    @*<div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>*@

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @*<div class="flex sm6">
                        <div class="card flex m-sm">
                            <h2>How can we help?</h2>
                            <p class="mt-sm mb-md">
                                We&rsquo;ve got volunteers all ready and waiting to help you! Use the buttons on this page to request help today.
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId/ /@Model.Language" class="btn cta btn--request-help fill cta--orange  ">Request Help</a>
                            </div>

                        </div>
                    </div>*@

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Станьте волонтером вместе с нами!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            Присоединяйтесь к нам, чтобы помочь своим соседям. Просто сообщите нам, когда, где и как вы можете помочь. Вы можете оказать большую или незначительную помощь! Мы благодарны за любой вклад.
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Спасибо, что Вы – часть Бостона и его окрестностей. Нажмите ниже, чтобы просмотреть запросы на помощь.
                        </p>
                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>