@model HelpMyStreetFE.Models.Community.FaceCoveringsViewModel

@{
    ViewData["Title"] = "Community Sew";
    var isLoggedIn = User.Identity.IsAuthenticated;
}

@section Scripts {
    <script src="/lib/readmore/readmore.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {            
            $('.read-more-text').readmore({
        moreLink: '<a href="#">Read more</a>',
        lessLink: '<a href="#">Read less</a>',
        collapsedHeight: 200
        })
    });
    </script>
}

<div class="container">
    <div class="community-banner">
        <img src="~/img/community/face-mask/face-mask-banner.jpeg" />
    </div>

    <div class="outer-container">
        <div class="inner-container">
            <div class="row flex hero">
                <div class="row sm12 align-center content-page">
                    <h2 class="row sm12 mb0">HelpMyStreet’s Community Sew</h2>
                    <p class="row sm12 mt-sm">
                        We launched HelpMyStreet.org to ensure everybody in the UK can find the help they need, when they need it - and this now includes face coverings!
                        There are thousands of talented home sewers across the country who are happy to give their time and skills to provide their communities with the
                        face coverings they need.
                    </p>

                    <div class="row sm12 mb-md">
                        <div class="card sm12">
                            <h6 class="mt-0">Do you a need a face covering?</h6>
                            <p class="mt-sm mb-sm">
                                Our community sewers are happy to give their time to provide face coverings. Here’s what you can expect:
                            </p>
                            <ul class="tick-list mt-sm">
                                <li>Various sizes to meet the needs of you and your family</li>
                                <li>Well-made, washable, reusable face coverings made with at least two layers of fabric</li>
                                <li>To pay a small amount to cover the cost of materials and postage or donate to a good cause of a volunteer’s choosing</li>
                                <li>Items made with love by a talented volunteer</li>
                            </ul>

                            <div class="mt-md text-center">
                                <a href="@Model.RequestHelpURL" class="btn cta fill cta--orange">Request Face Coverings</a>
                            </div>
                        </div>
                    </div>

                    <h2 class="row sm12 mt-lg mb-md">Join us as a sewing volunteer</h2>
                    <div class="row hero flex">
                        <div class="flex sm6 pad-sm">
                            <div class="card flex">
                                <h6 class="mt-0">Join HelpMyStreet as an independent sewer</h6>
                                <ul class="mt-sm pl-md">
                                    <li>Source your own material and supplies</li>
                                    <li>Request payment to cover the cost of materials (£2 - £3 per face covering) or ask for donations to support a good cause of your choosing</li>
                                </ul>

                                <p>
                                    <img src="~/img/community/face-mask/face-mask-sewing-1000px.jpg" />
                                </p>

                                <div class="mt-sm text-center">
                                    @if (isLoggedIn)
                                    {
                                        <a id="first-button" href="/account" class="btn cta fixed-width fill">My Account</a>
                                    }
                                    else
                                    {
                                        <a href="@Model.GenericSignUpURL" class="btn cta fill">Join Us Now</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="flex sm6 pad-sm">
                            <div class="card flex">
                                <h6 class="mt-0">Join HelpMyStreet as part of For the Love of Scrubs (FTLOS) - our fabulous face coverings partner</h6>
                                <ul class="mt-sm pl-md">
                                    <li>Receive pre-paid supplies straight to your door from Ashleigh and the FTLOS team</li>
                                    <li>Request payment in the form of donations to the <a href="https://www.gofundme.com/f/for-the-love-of-scrubs-face-coverings" target="_blank">FTLOS GoFundMe page</a></li>
                                    <li>Be a part of one of the UK’s biggest sewing communities</li>
                                </ul>

                                <p>
                                    <img src="~/img/community/fortheloveofscrubs/LOSBannerWide.png" />
                                </p>

                                <div class="mt-sm text-center">
                                    <a href="/for-the-love-of-scrubs" class="btn cta fill">Find Out More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="inner-container">

            <div class="row">
                <div class="sm12">
                    <div class="read-more-text">
                        <p>
                            Wearing a face covering can help protect everyone and reduce the spread of coronavirus, so face coverings are compulsory in some public spaces such as shops and public transport. We’re all urged to use home-made fabric face coverings so we can save medical masks for the medics!
                        </p>

                        <p>HelpMyStreet is bringing together home sewers who are using their time and skills to help their neighbours.</p>
                        <p>
                            <strong>Will all of your face coverings look the same?</strong> Hopefully not! All of our volunteers are encouraged to find a pattern
                            and materials that suit them. All we ask is that face coverings have at least two layers of fabric and will fit comfortably and securely -
                            as a volunteer you can opt for a fitted or pleated style, use ties or elastics, go for patterned or plain, it’s completely up to you
                            (check out our Useful Links section below for patterns and guidance). If you’re requesting face coverings and have a strong preference for
                            a specific style make sure to include it on your request so volunteers know what you need.
                        </p>

                        <p>
                            <strong>Is there a cost for face coverings?</strong> Did you know it takes the average sewer half an hour to make a face covering?
                            Our volunteers won’t charge for their time or skills, but may need to ask for £2 to £3 per face covering to cover the cost of materials,
                            plus postage if you’re further afield. They’ll let you know the cost when they contact you. See our FAQs for details on how to pay safely.
                        </p>

                        <p>If you have any questions about signing up as a sewing volunteer or making a request for face coverings, email <a href="mailto:sewing@helpmystreet.org">sewing@helpmystreet.org</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        var requestHelpHead = "Do you need a face covering?";
        var requestHelpDesc = "If you need face coverings for yourself, your family or your organisation, please Request Help. Whether it’s 1 or 100, we’ll do our best to help.";


        var provideHelpHead = "Volunteer with us!";
        var provideHelpDesc = " If you’re a home sewer and able to make face coverings, either for the cost of materials or as a donation, join us to help your neighbours. You can choose to help a little, or to help a lot! We’re grateful for every contribution.";
    }

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="flex sm6 pad-sm">
                    <div class="card flex">

                        <h2>@requestHelpHead</h2>
                        <p class="mt-sm mb-md">
                            @requestHelpDesc
                        </p>

                        <div class="">
                            <a href="@Model.RequestHelpURL" class="btn cta fill cta--orange">Request Face Coverings</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6 pad-sm">
                    <div class="card flex">
                        <h2>@provideHelpHead</h2>
                        <p class="mt-sm mb-md">
                            @provideHelpDesc
                        </p>

                        <div class="">
                            @if (isLoggedIn)
                            {
                                <a id="first-button" href="/account" class="btn cta fill">My Account</a>
                            }
                            else
                            {
                                <a href="@Model.GenericSignUpURL" class="btn cta fill">Join Us Now</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container ">
            <div class="row justify-center">
                <h2 class="text-center">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links">
                    <h6>Patterns and Inspiration</h6>

                    <p class="mb-xs"><a href='https://www.bigcommunitysew.co.uk/' target="_blank">The Big Community Sew</a></p>
                    <p class="mt-xs mb-xs"><a href='https://freesewing.org/blog/facemask-frenzy/' target="_blank">Downloadable Florence fitted facemask pattern from freesewing.org</a></p>
                    <p class="mt-xs"><a href='https://www.youtube.com/watch?v=X_-R8Ox3Spw&fbclid=IwAR3vmsfjx4Ga3oHR7kCXZjHqdaTSjbg5mlWju9rn9nt9ORL-zdaWz2_A0zY&app=desktop' target="_blank">Video: Pleated facemask with fabric ties from Jenny Doan or Missouri Star Quilt Company</a></p>

                    <h6>Official Guidance</h6>

                    <p class="mb-xs">
                        <a href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/899806/Guidance-for-businesses-and-individuals-face-coverings-version-3.pdf' target="_blank">
                            Office for Product Safety & Standards: Guidance for manufacturers and makers of face coverings
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-lg">
        @await Component.InvokeAsync("Feedback", new { feedbackMessageType = HelpMyStreetFE.Models.Feedback.FeedbackMessageType.FaceCovering })
    </div>


    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row">
                <div class="sm12">
                    <h2 class="text-center">About HelpMyStreet.org</h2>
                </div>
            </div>


            <div class="row mt-lg">
                <div class="sm6 pad-sm flex mb-sm home-video-container justify-center align-center text-right" id="video">
                    <iframe style="min-width: 100%; height: 350px" src="https://www.youtube-nocookie.com/embed/BD--FjbDKp8?rel=0&cc_load_policy=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="sm6 pad-sm">
                    <p class="">
                        HelpMyStreet is working with community organisers to get help and support to people who need to shelter safely at home.
                        Many of these people live far from friends and family and don’t have a local support network.
                        HelpMyStreet gets the right help to the right people so that no one is left out.
                        All volunteers are ID Verified so that everyone is safe and secure.
                    </p>

                    <p>
                        HelpMyStreet CIC is a Nottingham-based non-profit established in March 2020. We’re a team of doctors, health practitioners, tech and data people, and community volunteers.
                        Help My Street CIC is registered in England and Wales, company number 12534175,
                        and registered with the Information Commissioner’s Office.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center">
                <div class="flex sm6 pad-sm">
                    <div class="card flex">

                        <h2>@requestHelpHead</h2>
                        <p class="mt-sm mb-md">
                            @requestHelpDesc
                        </p>

                        <div class="">
                            <a href="@Model.RequestHelpURL" class="btn cta fill cta--orange">Request Face Coverings</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6 pad-sm">
                    <div class="card flex">
                        <h2>@provideHelpHead</h2>
                        <p class="mt-sm mb-md">
                            @provideHelpDesc
                        </p>

                        <div class="">
                            @if (isLoggedIn)
                            {
                                <a id="first-button" href="/account" class="btn cta fill">My Account</a>
                            }
                            else
                            {
                                <a href="@Model.GenericSignUpURL" class="btn cta fill">Join Us Now</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


