@using HelpMyStreetFE.Models.Feedback;
@using HelpMyStreetFE.Models.Community;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="container">
        <div class="community-banner">
            <img src="/img/community/fortheloveofscrubs/LOSBannerWide.png" alt="For the Love of Scrubs" />
        </div>
    </div>

    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">A message from Ashleigh Linsdell, Founder and Director of &lsquo;For the Love of Scrubs&rsquo; (FTLOS)</h2>
                    </header>

                    <div class='row sm6' style='padding-left: 0'>
                        <p class='mt-sm mb-sm'>
                            FTLOS has supplied many thousands of items to support frontline workers in hospitals, care homes and surgeries across the
                            country. We now have another line of defence to support - our communities.
                        </p>
                        <p class='mt-sm mb-sm'>
                            We need everyone to do their bit to protect communities against coronavirus by wearing a fabric face covering when out and
                            about in shops, buses, trains and other public places. Wearing a fabric face covering helps keep everyone safe and supports
                            the national defence strategy against the spread of COVID-19.
                        </p>
                        <p class='mt-sm mb-sm'>
                            Everyone is asked to donate &pound;3 to &pound;4 per face covering to cover the cost of materials and to help us support our communities.
                            You&rsquo;ll also be asked to cover the cost of postage (if needed).
                        </p>
                        <p class='mt-sm mb-md'>
                            If you&rsquo;d like to get involved, sign up to sew or request a face covering now.
                        </p>
                    </div>
                    <div class='row sm4 ml-md mt-sm mb-md card align-center text-center'>
                        <div>
                            <img src="/img/logos/go-fund-me.png">
                            <a href="https://www.gofundme.com/f/for-the-love-of-scrubs-face-coverings" class="btn cta--dark-blue mt-sm small fill">Visit Our Fundraising Page</a>
                        </div>
                    </div>



                    <div class="row sm4 text-center justify-center mb-sm small-screen-only">
                        <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help fill cta--orange  ">Request Face Coverings</a>
                    </div>

                    <div class="row sm4 text-center justify-center mb-md">
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>

                    <div class="row sm4 text-center justify-center mb-md large-screen-only">
                        <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help fill cta--orange  ">Request Face Coverings</a>
                    </div>

                    <div class='row sm4 large-screen-only'></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container mb-lg">
        <partial name="_PhotoSlider" model="Model.CarouselImages[0]" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">What to expect from FTLOS</h2>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <div>
                        <p>
                            The face coverings made by FTLOS volunteers are reusable, washable and well constructed. They can be posted straight to your home - we&rsquo;ll just ask you to cover the cost of postage before we send them.
                        </p>
                        <p class='mb-xs mt-md'>
                            <strong>Is there a cost for face coverings?</strong>
                            On top of the postage, all we ask if for a small donation of &pound;3 - &pound;4 per face covering to cover the cost of materials and to help us support our communities. You can donate through our GoFundMe page which is linked at the top of this page. At the same time, you can also donate to support the free supply of items we&rsquo;re making for the NHS and our communities:
                        </p>
                        <p class='mt-0 mb-0 ml-xl'>
                            &pound;10 pays for a metre of fabric we can use for scrubs and other NHS supplies
                        </p>
                        <p class='mt-0 mb-0 ml-xl'>
                            &pound;25 pays for enough face coverings to help a small care home receive visitors
                        </p>
                        <p class='mt-0 mb-0 ml-xl'>
                            &pound;50 pays for a full set of scrubs for an NHS nurse or doctor
                        </p>
                        <p class='mt-md'>
                            <strong>Who can order face coverings?</strong>
                            FTLOS face coverings are made by our communities for our communities, so we can&rsquo;t accept commercial orders. Items supplied by our volunteers cannot be offered for resale under any circumstances.
                        </p>
                        <p class='mt-md'>
                            <strong>Will all of your face coverings look the same?</strong>
                            Hopefully not! We use a few tried and tested patterns but lots of different fabrics.
                        </p>
                        <p class='mt-md'>
                            <strong>How can I volunteer with For the Love of Scrubs?</strong>
                            Join us by signing up to sew. Our sewers receive a pre-prepared pack of materials straight to their door, once it has arrived you&rsquo;ll have all you need to get sewing!
                        </p>
                        <p class='mt-md'>
                            <strong>How can I donate to help you continue the good work?</strong>
                            You can donate through For the Love of Scrubs&rsquo; <a href='https://www.gofundme.com/f/for-the-love-of-scrubs-face-coverings'>gofundme page</a>.
                        </p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>Do you need a face covering?</h2>
                        <p class="mt-sm mb-md">
                            If you&rsquo;d like some For the Love of Scrubs face coverings for yourself, your family or an organisation, request them now. We'll do our best to help!
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help/@Model.EncodedGroupId" class="btn cta btn--request-help fill cta--orange  ">Request Face Coverings</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            If you&rsquo;d like to join For the Love of Scrubs (or register as an existing member) sign up now. We&rsquo;ll send you everything you need to get started (except for the sewing machine!)
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of For the Love of Scrubs.  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <h6>Patterns</h6>
                    <p class='mb-xs'><a href='https://sustainmycrafthabit.com/how-to-make-a-simple-pleated-face-mask-with-free-pattern/#:~:text=%20Instructions%20%201%20Lay%20fabric%20out%20on,around%20the%20perimeter%20and%20stitch%20the...%20More%20'> Simple Pleated Face Mask</a> - free pattern and video</p>
                    <p class='mt-xs mb-xs'><a href='https://hellosewing.com/wp-content/uploads/face-mask-pattern-1.jpg'>Fitted face mask pattern</a> - free pattern</p>
                    <p class='mt-xs mb-xs'><a href='https://www.youtube.com/watch?v=b78VGVWa6hw'>Smile mask (with a clear panel)</a> - YouTube video</p>
                    <p class='mt-xs'><a href='https://freeprintablesonline.com/2020/03/printable-face-mask-patterns-roundup/'> FreePrintablesOnline.com</a> - patterns, videos, hints and tips</p>

                    <h6>Donation page</h6>
                    <p>You can donate through For the Love of Scrubs&rsquo; <a href='https://www.gofundme.com/f/for-the-love-of-scrubs-face-coverings'>gofundme page</a></p>

                    <h6>Requesting materials</h6>
                    <p>If you&rsquo;re a FTLOS sewer and need more materials contact your local group administrator or email <a href='mailto:requestmaterials.ftlos@outlook.com'>requestmaterials.ftlos@outlook.com</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages[1]" />
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.FaceCovering, groupKey = Model.Group.GroupKey })
    </div>


    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <div class="card flex m-sm">

                        <h2>Do you need a face covering?</h2>
                        <p class="mt-sm mb-md">
                            If you&rsquo;d like some For the Love of Scrubs face coverings for yourself, your family or an organisation, request them now. We'll do our best to help!
                        </p>

                        <div class="" style="text-align: center">
                            <a href="/request-help/@Model.EncodedGroupId" class="btn cta btn--request-help fill cta--orange  ">Request Face Coverings</a>
                        </div>

                    </div>
                </div>

                <div class="flex sm6">
                    <div class="card flex m-sm">
                        <h2>Volunteer with us!</h2>
                        <p class="mt-sm mb-md show-to-non-members @(Model.IsGroupMember ? "dnone" : "")">
                            If you&rsquo;d like to join For the Love of Scrubs (or register as an existing member) sign up now. We&rsquo;ll send you everything you need to get started (except for the sewing machine!)
                        </p>
                        <p class="mt-sm mb-md show-to-members @(Model.IsGroupMember ? "" : "dnone")">
                            Thanks for being part of For the Love of Scrubs.  Click below to view help requests.
                        </p>

                        <div class="card__buttons">
                            <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = true }" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker mb-lg">
        <partial name="_PhotoSlider" model="Model.CarouselImages[2]" />
    </div>

</div>