@model HelpMyStreetFE.Models.Community.CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { RenderLink = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
}

@section Scripts {
    <script src="/lib/readmore/readmore.min.js" asp-append-version="true"></script>
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="container">
    <div class="community-banner">
        <img src="@Model.BannerImageLocation" alt="@Model.CommunityName" />
    </div>

    <div class="outer-container">
        <div class="inner-container">
            <div class="row flex hero">
                <div class="row sm6 align-center content-page">
                    <header class="">
                        <h2 class="mb0 mw1000">@Model.Header</h2>
                    </header>

                    @Html.Raw(@Model.HeaderHTML)

                    @if (Model.ShowRequestHelp)
                    {
                        <div class="row @("sm" + Model.HeaderButtonWidth) text-center justify-center mb-sm small-screen-only">
                            @if (Model.HeaderHelpButtonText != null && Model.HeaderHelpButtonText.Length > 0)
                            {
                                <p class="row sm12 mt-sm mb-sm">@Model.HeaderHelpButtonText</p>
                            }
                            <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help cta--orange  @(Model.DisableButtons ? "disabled" : "")">@Model.RequestHelpButtonText</a>
                        </div>
                    }

                    <div class="row @("sm" + Model.HeaderButtonWidth) text-center justify-center mb-md">
                        @if (Model.HeaderVolunteerButtonText != null && Model.HeaderVolunteerButtonText.Length > 0)
                        {
                            <p class="row sm12 mt-sm mb-sm">@Model.HeaderVolunteerButtonText</p>
                        }
                        @if (!Model.IsLoggedIn)
                        {
                            <a href="/registration/step-one/@Model.EncodedGroupId" class="btn cta small btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedOutButtonText</a>

                        }
                        else
                        {
                            <a href="/account" class="btn cta small btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedInButtonText</a>

                        }
                    </div>

                    @if (Model.ShowRequestHelp)
                    {
                        <div class="row @("sm" + Model.HeaderButtonWidth) text-center justify-center mb-md large-screen-only">
                            @if (Model.HeaderHelpButtonText != null && Model.HeaderHelpButtonText.Length > 0)
                            {
                                <p class="row sm12 mt-sm mb-sm">@Model.HeaderHelpButtonText</p>
                            }
                            <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help cta--orange  @(Model.DisableButtons ? "disabled" : "")">@Model.RequestHelpButtonText</a>
                        </div>
                    }

                    @Html.Raw(@Model.HeaderPostButtonsHTML)
                </div>

                @if (Model.ShowMap)
                {
                    <div class="sm6 text-right commmunity-map-container map static-map" id="map"></div>
                }
            </div>
        </div>
    </div>

    <div class="outer-container mb-lg">

        @if (Model.CarouselImages1 != null)
        {
            @if (Model.CarouselImages1.Count() > 0)
            {
                <div class="slider">
                    <div class="slides">
                        @foreach (string carouselImage in Model.CarouselImages1)
                        {
                            <div>
                                <img class="slide" src="@carouselImage.Substring(carouselImage.IndexOf("img") - 1)" />
                            </div>

                        }
                    </div>
                </div>
            }
        }

    </div>

    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row flex justify-center">
                <h2 class="mb15 text-center">@Model.CommunityVolunteersHeader</h2>
            </div>

            @if (Model.CommunityVolunteers != null)
            {
                <div class="row flex justify-center">
                    <div class="community-volunteers-container flex justify-center">
                        @{
                            foreach (var volunteer in Model.CommunityVolunteers)
                            {
                                <div class="volunteer">

                                    <div class="volunteer-image">
                                        <img src="@volunteer.ImageLocation" alt="@volunteer.Name" />
                                    </div>
                                    <div class="volunteer-text">
                                        <p class="bold mt-sm mb-xs">@volunteer.Name</p>
                                        <p class="mt-xs mb-xs ">@volunteer.Role</p>
                                        <p class="mt-xs mb-xs">@volunteer.Location</p>
                                    </div>
                                </div>
                            }


                        }
                    </div>
                </div>
            }


            <div class="row">
                <div class="sm12">
                    <div class="community-volunteers-text" id="community-volunteers-text">
                        @Html.Raw(@Model.CommunityVolunteersTextHtml)
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @if (Model.ShowRequestHelp)
                {
                    <div class="sm6 mb-md">
                        <div class="card">

                            <h2>@Model.RequestHelpHeading</h2>
                            <p class="text-left mt-sm mb-md">
                                @Model.RequestHelpText
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId" class="btn cta btn--request-help cta--orange @(Model.DisableButtons ? "disabled" : "")">@Model.RequestHelpButtonText</a>
                            </div>

                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ProvideHelpHeading) && !string.IsNullOrEmpty(Model.ProvideHelpText))
                {
                    <div class="sm6">
                        <div class="card">
                            <h2>@Model.ProvideHelpHeading</h2>
                            <p class="text-left mt-sm mb-md">
                                @Model.ProvideHelpText
                            </p>

                            <div class="" style="text-align: center">
                                @if (!Model.IsLoggedIn)
                                {
                                    <a id="first-button" href="/registration/step-one/@Model.EncodedGroupId" class="btn cta btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedOutButtonText</a>
                                }
                                else
                                {
                                    <a id="first-button" href="/account" class="btn cta btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedInButtonText</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="inner-container ">
            <div class="row justify-center">
                <h2 class="text-center">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links">
                    @Html.Raw(@Model.UsefulLinksHtml)
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container mb-md">

        @if (Model.CarouselImages2 != null)
        {
            @if (Model.CarouselImages2.Count() > 0)
            {
                <div class="slider">
                    <div class="slides">
                        @foreach (string carouselImage in Model.CarouselImages2)
                        {
                            <div>
                                <img class="slide" src="@carouselImage.Substring(carouselImage.IndexOf("img") - 1)" />
                            </div>

                        }
                    </div>
                </div>
            }
        }

    </div>

    <div class="outer-container">
        <div class="inner-container">
            @if (Model.ShowHelpExampleCards)
            {
                <partial name="_HelpExampleCards" model="@Model.HelpExampleCards" />
            }
        </div>
    </div>





    <div class="outer-container outer-container--darker">
        <div class="inner-container">
            <div class="row">
                <div class="sm12">
                    <h2 class="text-center">About HelpMyStreet.org</h2>
                </div>
            </div>


            <div class="row mt-lg">
                <div class="sm6 flex mb-sm home-video-container justify-center align-center text-right" id="video">
                    <iframe style="min-width: 100%; height: 350px" src="https://www.youtube-nocookie.com/embed/BD--FjbDKp8?rel=0&cc_load_policy=1&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="sm6">
                    <p class="">HelpMyStreet.org was launched to help the Helpers supporting their communities through the coronavirus pandemic.</p>

                    <p>Our goal is to make volunteering and finding volunteers simple, safe and effective for everyone.</p>

                    <p> We are a non-profit community interest company with a team of doctors, health practitioners, tech and data people, community volunteers and marketers. The founding team work for Factor 50, a healthcare analytics and digital company that works with the NHS, particularly in mental health.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                @if (Model.ShowRequestHelp)
                {
                    <div class="sm6 mb-md">
                        <div class="card">

                            <h2>@Model.RequestHelpHeading</h2>
                            <p class="text-left mt-sm mb-md">
                                @Model.RequestHelpText
                            </p>

                            <div class="" style="text-align: center">
                                <a href="/request-help/@Model.EncodedGroupId" class="btn cta btn--request-help cta--orange @(Model.DisableButtons ? "disabled" : "")">@Model.RequestHelpButtonText</a>
                            </div>

                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ProvideHelpHeading) && !string.IsNullOrEmpty(Model.ProvideHelpText))
                {
                    <div class="sm6">
                        <div class="card">
                            <h2>@Model.ProvideHelpHeading</h2>
                            <p class="text-left mt-sm mb-md">
                                @Model.ProvideHelpText
                            </p>

                            <div class="" style="text-align: center">
                                @if (!Model.IsLoggedIn)
                                {
                                    <a id="first-button" href="/registration/step-one/@Model.EncodedGroupId" class="btn cta btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedOutButtonText</a>
                                }
                                else
                                {
                                    <a id="first-button" href="/account" class="btn cta btn--sign-up @(Model.DisableButtons ? "disabled" : "")">@Model.ProvideHelpLoggedInButtonText</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @Html.Hidden(nameof(Model.Longitude))
    @Html.Hidden(nameof(Model.Latitude))
    @Html.Hidden(nameof(Model.ZoomLevel))

    <div class="outer-container mb-lg">

        @if (Model.CarouselImages3 != null)
        {
            @if (Model.CarouselImages3.Count() > 0)
            {
                <div class="slider">
                    <div class="slides">
                        @foreach (string carouselImage in Model.CarouselImages3)
                        {
                            <div>
                                <img class="slide" src="@carouselImage.Substring(carouselImage.IndexOf("img") - 1)" />
                            </div>

                        }
                    </div>
                </div>
            }
        }

    </div>
</div>


