@using HelpMyStreetFE.Models.Community;
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="container">
        <div class="community-banner">
            <img src="/img/community/meadows/murial.jpg" alt="Meadows Community Helpers" />
        </div>
    </div>

    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">Welcome to the Meadows Community Helpers</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        In our community there&rsquo;s always somebody here to help. We&rsquo;re here to help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm compact-list'>
                        <li>Shopping for essentials</li>
                        <li>Taking out your bins on bin day</li>
                        <li>Local errands</li>
                        <li>Digital support</li>
                        <li>A friendly chat</li>
                    </ul>
                    <p class="row sm12 mt-sm mb-sm">Or if there's anything else, just ask!</p>

                    <div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">If you need help, complete our quick and easy online form or give us a call on 0115 671 0200.</p>
                        <partial name="_RequestHelpButton" model="Model" />
                    </div>

                    <div class="row sm6 text-center justify-center mb-sm">
                        <p class="mt-sm mb-sm pl-md pr-md">To register your interest as a community volunteer, sign up or log in today.</p>
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">Welcome from the Meadows Community Helpers!</h2>
            </div>
        </div>
    </div>*@

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Welcome from the Meadows Community Helpers!</h2>

                    <div>
                        <div class="outer-container outer-container--darker">
                            <partial name="_CommunityVolunteersSlider" model="Model" />
                        </div>
                        <p>Organisations from across the Meadows are working together to support our community.</p>
                        <p>Our goal is to create a network of community volunteers who can be called upon when they are needed to help their neighbours in times of crisis and beyond.</p>
                        <p><strong>Notts County Foundation</strong></p>
                        <p>The Notts County Foundation are proud to deliver a range of innovative programmes that make a positive difference to people in Nottingham and Nottinghamshire, raising aspirations and supporting some of the most disadvantaged, marginalised and talented people across the city and county. We use the power of football and the profile of Notts County FC to provide direction and support.</p>
                        <p><strong>Bridges Community Trust</strong></p>
                        <p>The Bridges Community Trust is dedicated to serving the Meadows and Clifton communities and surrounding areas, to provide better local services and facilities.</p>
                        <p><strong>Meadows Community Helpers</strong></p>
                        <p>The Meadows Community Helpers was created to support the more vulnerable members our community during the Coronavirus outbreak. We've done some great work helping out our neighbours and want to carry this on into the future.</p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
                Our partners
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.facebook.com/groups/614069712518240/">Meadows Community Helpers</a> - Facebook Group</p>
                    <p><a href="https://www.nottscountyfoundation.org.uk/">Notts County Foundation</a> - The official charity of Notts County Football Club</p>
                    <p><a href="https://www.thebridgescommunitytrust.org.uk">The Bridges Community Trust</a> - Providing help and support in the Meadows</p>
                    <p><a href="https://www.asklion.co.uk/kb5/nottingham/directory/home.page">ASKLiON Directory</a> - A place to find activities and support in Nottingham</p>
                    <p><a href="https://www.theportlandcentre.co.uk/">The Portland Centre</a> - A diverse range of sporting and community facilities in the heart of the Meadows</p>
                </div>
            </div>
        </div>
    </div>



    <div class="outer-container mt-md">
        <div class="inner-container container">
            <partial name="_HelpExampleCards" model="@Model.HelpExampleCards" />
        </div>
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>

    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.Group.GroupKey })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>