@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = "North Muskham", PrimaryMobileText = "North Muskham", ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="outer-container pt-md pb-md mb-lg outer-container--darker north-muskham-banner">
        <div class="container row">
            <div class="sm4 text-center">
                <img src="/img/community/ageUK/notts/north-muskham/north-muskham-sign.png" alt="@Model.CommunityName" />
            </div>
            <div class="row sm8 right-column">
                <h2>North Muskham Community Support</h2>
                <h2 class="proud">Proudly supporting our community with local volunteers</h2>
                <p class="partnership">In partnership with North Muskham Parish Council</p>
            </div>
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">In North Muskham, help is always available!</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        The North Muskham community came together to support local residents through the COVID-19
                        pandemic and beyond. If you need support from your neighbours, we're here and can help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Local shopping</li>
                        <li>Collecting prescriptions</li>
                        <li>A friendly chat</li>
                        <li>Errands</li>
                        <li>Anything else, just ask!</li>
                    </ul>


                    <div class="row sm6 text-center justify-center mb-sm">
                        <partial name="_RequestHelpButton" model="Model" />
                    </div>

                    <div class="row sm6 text-center justify-center mb-md">
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Map_CentreLatitude" data-longitude="@Model.Map_CentreLongitude" data-zoom="@Model.Map_ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <h2 class="mb15 mt-lg text-center">Welcome from North Muskham Community Support</h2>
                    <div>
                        <p>
                            North Muskham Community Support is supported by North Muskham Parish Council. We&rsquo;re a community support
                            group set up to help members of our village when people need a little bit of extra help. We can help wit
                            all sorts of everyday tasks, from helping with your shopping to collecting and returning your library books.
                        </p>
                        <p>
                            If you&rsquo;d like some help from a local volunteer, just ask by clicking on one of the &lsquo;Request Help&rsquo; buttons on
                            this page, or email us at <a href="mailto:northmuskham@helpmystreet.org">northmuskham@helpmystreet.org</a>. You can also call us on 07946&nbsp;601364.
                        </p>
                        <p>
                            To join us, sign up as a community volunteer above. You can help as much or as little as you are able, and we
                            greatly appreciate any time and support you can give.
                        </p>
                        <p><strong>More about our village</strong></p>
                        <p>
                            North Muskham is an elongated rural village, situated between the River Trent and the A1 north of Newark-on-Trent
                            in Nottinghamshire.
                        </p>
                        <p>
                            It is an attractive village with a population of around 1000. It has a primary school, a popular village pub,
                            The Muskham Ferry, and a well used Community Centre that provides facilities to the village, and also the neighbouring
                            communities of Bathley and South Muskham.
                        </p>
                        <p>
                            It has a 12th Century Church, St Wilfrid&rsquo;s, and the village appeared in the Domesday Book as Muscham in the hundred of Lythe.
                        </p>
                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <p><a href="https://www.nottinghamshire.gov.uk/council-and-democracy/local/parish-councils/north-muskham-parish-council">North Muskham Parish Council Website</a> - Get the latest news and updates from the Parish Council</p>
                    <p><a href="https://www.facebook.com/groups/228175631175462">North & South Muskham Info Page</a> - Facebook Information and selling page relating to North and South Muskham and the small surrounding villages</p>
                    <p><a href="https://www.ageuk.org.uk/notts">Age UK Nottingham & Nottinghamshire</a> - An independent charity in Nottingham and Nottinghamshire offering support and services for older people</p>
                    <p><a href="https://bustimes.org/localities/north-muskham">Bustimes.org</a> - A useful link to local public transport services</p>
                    <p><a href="https://www.gov.uk/coronavirus">GOV.UK Coronavirus advice</a> - A national resource for COVID-19 guidance and support</p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">
                    <h6>Local information and resources</h6>
                    <p><a href="https://www.northmuskhamvillage.co.uk/">North Muskham Parish Council Website</a> - Get the latest news and updates from the Parish Council</p>
                    <p><a href="https://www.facebook.com/groups/228175631175462">North & South Muskham Info Page</a> - Facebook information and selling page relating to North and South Muskham and the small surrounding villages</p>
                    <p><a href="https://www.ageuk.org.uk/notts/">Age UK Nottingham & Nottinghamshire</a> - An independent charity in Nottingham and Nottinghamshire offering support and services for older people</p>
                    <p><a href="https://bustimes.org/localities/north-muskham/">Bustimes.org</a> - A useful link to local public transport services.</p>
                    <p><a href="https://flood-warning-information.service.gov.uk/warnings/">Flood Warning for England</a> - Enter your postcode to find up-to-date information about flood dangers in your area</p>
                    <p><a href="https://www.gov.uk/coronavirus/">GOV.UK Coronavirus advice</a> - A national resource for COVID-19 guidance and support</p>
                    <p><a href="https://www.nottshelpyourself.org.uk/">Notts Help Yourself</a> - A website for residents of Nottinghamshire who would like to find information about local organisations and services.</p>
                    <p>
                        You can also download a list of other useful national / government organisations <a href="~/img/community/northmuskham/North Muskham Useful Links.pdf">here</a>.
                    </p>
                    <p>
                        To find out more about your data is used on this site, read the HelpMyStreet Privacy Policy <a href="https://www.helpmystreet.org/privacy-policy">here</a>.
                    </p>

                    <h6>Volunteer Guidance</h6>
                    <p class="mb-xs"><a href="https://www.nottinghamshire.gov.uk/care/safeguarding/mash">Safeguarding adults</a> - If you think and adult is at risk of abuse or neglect, find out more about Nottinghamshire’s Multi-Agency Safeguarding Hub (MASH)</p>
                    <p class="mt-xs">                        
                        <a href="~/img/community/northmuskham/North Muskham Guidance - Dog Walking.pdf">Dog Walking</a> - Useful hints and tips for volunteering as a dog walker
                    </p>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Guidance - Prescription Collection & Delivery.pdf">Prescription collection and delivery</a> - Useful hints and tips for volunteering to collect prescriptions
                    </p>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Guidance - Shopping.pdf">Shopping</a> - Useful hints and tips for volunteering to collect shopping and groceries
                    </p>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Guidance - Telephone Befriending.pdf">Telephone Befriending</a> - Useful hints and tips for volunteering to provide a friendly chat
                    </p>

                    <h6>Project Resources</h6>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Guidance - Marketing & Publicity.pdf">General guidance</a> - Useful hints and tips for promoting your project in your local community
                    </p>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Poster.docx">North Muskham Poster</a> - An editable document you can print at home; this size is best used for posters. Don’t forget add your contact details before printing!
                    </p>
                    <p class="mt-xs">
                        <a href="~/img/community/northmuskham/North Muskham Flyer.docx">North Muskham Flyer</a> - An editable document you can print at home; this size is best used for flyers. Don’t forget add your contact details before printing!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Other })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>