@using HelpMyStreetFE.Models.Community; 
@using HelpMyStreetFE.Models.Feedback;

@model CommunityViewModel;

@{
    ViewData["Title"] = Model.CommunityName;
    ViewData["HMSLogoViewModel"] = new HMSLogoViewModel() { LinkEntireLogo = false, PrimaryText = Model.CommunityName, PrimaryMobileText = Model.CommunityShortName, ShowSecondaryText = true };
    ViewData["RequestHelpGroupId"] = Model.EncodedGroupId;
}

@section Scripts {
    <script src="/community.js" asp-append-version="true"></script>
}

<div class="community" data-group-id="@Model.EncodedGroupId">

    <div class="container">
        <div class="community-banner">
            <img src="" alt="@Model.CommunityName" />
        </div>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="row flex hero mb-lg">
                <div class="row sm6 align-center content-page">
                    <header class="mw1000">
                        <h2 class="mb0 mt-md">In North Muskham, help is always available!</h2>
                    </header>

                    <p class='mt-sm mb-xs'>
                        In our community there&rsquo;s always somebody here to help.
                        If you need support from your neighbours, Balderton Community Support are here and can help with:
                    </p>
                    <ul class='tick-list mt-xs mb-sm ml-sm'>
                        <li>Shopping for essentials</li>
                        <li>Collecting prescriptions</li>
                        <li>A friendly chat</li>
                        <li>Anything else, just ask!</li>
                    </ul>


                    <div class="row sm6 text-center justify-center mb-sm">
                        <a href="/request-help/@Model.EncodedGroupId" class="btn cta small btn--request-help fill cta--orange show-request-help-popup">Request Help</a>
                    </div>

                    <div class="row sm6 text-center justify-center mb-md">
                        <partial name="_SignUpLogInJoinLeaveButtons" model="new SignUpLogInJoinLeaveViewModel { CommunityViewModel = Model, ShowLeaveButton = false }" />
                    </div>
                </div>

                <div class="sm6 pl-md">
                    <div class="text-right commmunity-map-container map static-map" id="map" data-latitude="@Model.Latitude" data-longitude="@Model.Longitude" data-zoom="@Model.ZoomLevel"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row flex justify-center">
                <h2 class="mb15 mt-lg text-center">Welcome from North Muskham Community Support</h2>
            </div>
        </div>
    </div>

    <div class="outer-container outer-container--darker">
        <partial name="_CommunityVolunteersSlider" model="Model" />
    </div>

    <div class="outer-container outer-container--darker">
        <div class="container">
            <div class="row">
                <div class="sm12">
                    <div>



                    </div>
                    <div class="mb-md"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>



    <div class="outer-container outer-container--darker">
        <div class="container ">
            <div class="row justify-center">
                <h2 class="text-center mt-lg">Useful Links</h2>
            </div>
            <div class="row flex justify-center">
                <div class="sm12 community-useful-links mb-lg">



                </div>
            </div>
        </div>
    </div>


    <div class="outer-container outer-container--darker mb-md">
        <partial name="_PhotoSlider" model="Model.CarouselImages.First()" />
    </div>


    <div class="container mt-md mb-lg">
        @await Component.InvokeAsync("Testimonials", new { feedbackMessageType = FeedbackMessageType.Group, groupKey = Model.groupKey })
    </div>



    <div class="outer-container outer-container--darker">
        <partial name="_AboutHelpMyStreet" />
    </div>

    <div class="outer-container">
        <div class="container inner-container--no-side-padding">
            <div class="row hero flex text-center justify-center">

                <div class="flex sm6">
                    <partial name="_HowCanWeHelpCard" model="Model" />
                </div>

                <div class="flex sm6">
                    <partial name="_VolunteerWithUsCard" model="Model" />
                </div>

            </div>
        </div>
    </div>

</div>