@using HelpMyStreet.Utils.Utils;
@using HelpMyStreet.Utils.Extensions;

@model HelpMyStreetFE.Models.Account.Report.ReportViewModel

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>


</script>

<div id="chartHolder">
    <canvas id="myChart"></canvas>
</div>
<script>
    const colours = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'];    
    const chartdata = @Html.Raw(Json.Serialize(@Model.Data));
    const chartlabels = @Html.Raw(Json.Serialize(@Model.Labels));
    const reportTitle = @Html.Raw(Json.Serialize(@Model.Title));
    const xAxisName = @Html.Raw(Json.Serialize(@Model.XAxisName));
    const yAxisName = @Html.Raw(Json.Serialize(@Model.YAxisName));
    const chartType = @Html.Raw(Json.Serialize(@Model.ChartType));    
    const datasets = [];

    chartdata.forEach(function (item, index) {
        datasets.push(
            {
                label: item.label,
                data: item.dataItems,
                backgroundColor: colours[index],
            });
    });
    /*
    console.log("title:" + reportTitle);
    console.log("xAxis:" + xAxisName);
    console.log("yAxis:" + yAxisName);
    console.log("chartType:" + chartType);
    console.log(datasets);
    */
    
    const data = {
        labels: chartlabels,
        datasets: datasets
    };

    const config = {
        type: chartType,
        data: data,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: reportTitle
                },
            },
            responsive: true,
            scales: {
                yAxes: {
                    stacked: true,
                    title: {
                        display: true,
                        text: yAxisName,
                        font: {
                            size: 15
                        }
                    }
                },
                xAxes: {
                    stacked: true,
                    title: {
                        display: true,
                        text: xAxisName,
                        font: {
                            size: 15
                        }
                    }
                },
            }
        }
    };

    const myChart = new Chart(
document.getElementById('myChart'),
config
);

</script>