@model HelpMyStreetFE.Models.Account.Report.DataTableViewModel

<div>
    <div class="chart-container"
         data-chart="@Model.Chart"
         data-group="@Model.GroupId"
         data-type="@Model.ChartType"
         data-datefrom="@Model.DateFrom"
         data-dateto="@Model.DateTo">
        <div class="test">
        </div>
    </div>
</div>
