@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/coverageMap.js" asp-append-version="true"></script>
}


<div class="container">
    <div class="row mb56 flex justify-center hero">
        <div class="sm6">
            <h1>Helping neighbours and communities stay safe</h1>
            <p class="subtitle">
                From collecting prescriptions to picking up groceries, helping with homework to sewing face coverings, people across the country are amazing,
                helping their neighbours and community stay safe. If you need ANYTHING, please <a href="/request-help" class="orange home-link" >Request Help</a>. If you can provide help and support, please <a href="/registration/stepone" class="green home-link">Sign Up Now</a>.
            </p>
            <a href="/registration/stepone" class="btn cta large btn--sign-up">Sign Up Now</a>
            <a href="/request-help" class="btn cta large fill mt16 btn--request-help cta--orange">Request Help</a>
        </div>
        <div class="sm6 text-right home-map-container" id="map">
        </div>
    </div>

    <div class="row stats mb40 text-center justify-center ">
        <div class="sm3 dnone">
            <h2 class="orange">@Model.NumVolunteers</h2>
            <p>Volunteers</p>
        </div>
        <div class="sm3 dnone">
            <h2>@Model.NumStreetChampions</h2>
            <p>Street champions</p>
        </div>
        <div class="sm3 dnone">
            <h2 class="green">@Model.NumStreetsCovered</h2>
            <p>Streets covered</p>
        </div>
    </div>

    <div class="row card street-check">
        <div class="sm12 max">
            <h3>Is your street covered?</h3>
            <p class="ma0 dnone">
                <span class="inline-flex align-center">
                    0% <span class="progress"><span class="indicator" style="width: @Model.PostCodesCoveredPercentage%">&nbsp;</span></span> 100%
                </span>
                <span class="ml32">
                    @Model.PostCodesCoveredPercentage% of the country's postcodes are covered so far.
                </span>
            </p>
            <div class="input mt68 mb15">
                <label>Your Postcode</label>
                <div class="postcode-input-button">
                    <input id="postcode" type="text" placeholder="Enter your Postcode..." />
                    <button class="btn cta large" id="postcode_button">
                        <span class="text">Check postcode</span>
                        <div class="loader"><partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Checking…"}' /></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="postcode__info dnone">
            <div id="postcode_covered" class="dnone postcode__info__message">
                <div class="postcode__info__message__text">
                    Yes! Your street is covered - but we need more Helpers and Street Champions to help people in need!
                </div>
                <div>
                    <a href="/registration/stepone" class="btn cta large fill btn--sign-up">Sign Up Now</a>
                </div>
                <div>
                    <a href="/request-help" id="#requestHelp" class="requesthelp_link"> Request Help</a>
                </div>
            </div>
            <div id="postcode_notcovered" class="dnone postcode__info__message">

                <div class="postcode__info__message__text">
                    Your street is not yet covered. Sign up as a Street Champion or Helper and help people in need
                </div>
                <div>
                    <a href="/registration/stepone" class="btn cta large fill btn--sign-up">Sign Up Now</a>
                </div>
                <div>
                    <a href="/request-help" id="#requestHelp" class="requesthelp_link"> Request Help</a>
                </div>

            </div>
            <div id="postcode_invalid" class="dnone postcode__info__message">
                <div class="row">
                    <div class="sm12 postcode__info__message__text__warning">
                        Sorry - that’s not quite right. Please enter a valid UK postcode.
                    </div>
                </div>
            </div>
            <div id="postcode_error" class="dnone postcode__info__message__text__warning">
                We're currently experiencing issues finding coverage, please try again later.
            </div>
        </div>
    </div>


    <div class="row mt72 justify-center">
        <div class="sm8 text-center">
            <h2>Help people shelter safely at home …</h2>
            <p>
                HelpMyStreet.org supports community organisers and  makes volunteering in your local community simple, safe and effective for everyone. Sign up today to help people in your street shelter safely at home:
            </p>
        </div>
    </div>
    <div class="row mt72 mb15 justify-center step">
        <div class="sm1"><span class="fab circle">1</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Street Champion
            </h4>
            <p>
                Street Champions look after a street and lead the helping activities in that street. They are in touch with the people who are sheltering safely at home and work with local Helpers to complete their requests for help.
            </p>
        </div>
    </div>
    <div class="row justify-center step">
        <div class="sm1"><span class="fab circle">2</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Volunteer
            </h4>
            <p>
                Helpers provide direct help such as collecting prescription medicines, running local errands and shopping for essentials. They work with Street Champions to ensure the right help is getting to the right people in need.
            </p>
        </div>
    </div>
    <div class="row justify-center">
        <div class="sm4">
            <a href="/registration/stepone" class="btn cta large fill mt16 btn--sign-up">Sign Up Now</a>
        </div>
    </div>
    <div class="row justify-center text-center mt72 help">
        <div class="sm12 mb12">
            <h2>Getting the right help to the right people&hellip;</h2>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
                <h6 class="mb0">Collect prescription for 73 year old grandmother</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--blue.svg" alt="human icon" width="86" />
                <h6 class="mb0">Grocery shopping for a pregnant young mum</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/people-icon--orange.svg" alt="human icon" width="86" />
                <h6 class="mb0">Post items for an 88 year old grandad</h6>
            </div>
        </div>
    </div>
    <div class="row justify-center text-center mt72">
        <div class="sm4">
            <a href="/request-help" class="btn cta large fill mt16 btn--request-help cta--orange">Request Help</a>
        </div>
    </div>
    <div class="row justify-center text-center mt72">
        <div class="sm12">
            <h2>We’re working with communities&hellip;</h2>
        </div>
        <div class="sm8">
            <p>
                Thank you to all the community organisers and volunteers around the UK who are caring for people in their communities and enabling them to safely shelter at home. Our aim is to support them and enable everyone to receive help from a trusted local volunteer:
            </p>
        </div>
        <div class="sm8 list mb-lg">
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Safety</span> - enabling every volunteer to be ID verified</span>
            <span>
                <span class="mdi mdi-check blue"></span> <span class="bold">Privacy</span> - protecting everyone’s data and only sharing it with the people who absolutely need it
            </span>
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Coverage</span> - supporting every street in the UK</span>
            <span><span class="mdi mdi-check blue"></span> <span class="bold">Neighbours Near and Far</span> - enabling help for friends and family who live at the other end of the country</span>
            <span><span class="mdi mdi-check blue"></span> Supporting the frontline community organisers and volunteers by taking care of processes and paperwork</span>
        </div>
    </div>
    <div class="row justify-center">
        <div class="sm4">
            <a href="/registration/stepone" class="btn cta large fill mt16 btn--sign-up">Sign Up Now</a>
        </div>
    </div>
</div>
