@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <header class="page-header align-center">
        <div class="page-header__sign-in">
            <partial name="_HeaderLogin" />           
        </div>
        <div class="page-header__logo">
            <img class="logo" src="~/img/logos/HelpMyStreet_logo.svg" alt="Help My Street Logo" />
        </div>
        <div class="page-header__nav">
            <partial name="_SiteNavigation" />
        </div>
        <div class="page-header__toggle">
            <button class="page-header__btn--menu-toggle">Menu</button>
        </div>
    </header>

    <div class="row mb56 flex justify-center">
        <div class="sm6">
            <h1>Welcome to<br /> Help My Street</h1>
            <p class="subtitle">
                We enable people sheltering at home to be helped by neighbourhood volunteers, safely and securely.
            </p>
            <button class="btn cta large">Sign Up Now</button>
        </div>
        <div class="sm6 text-right">
            <img src="~/img/HelpMyStreet_header_main.png" alt="Help My Street Main Header" width="535" />
        </div>
    </div>

    <div class="row stats mb40 text-center justify-center">
        <div class="sm3">
            <h2>@Model.NumStreetChampions</h2>
            <p>Street champions</p>
        </div>
        <div class="sm3">
            <h2 class="green">@Model.NumStreetsCovered</h2>
            <p>Streets covered</p>
        </div>
        <div class="sm3">
            <h2 class="orange">@Model.NumStreetsRemaining</h2>
            <p>Streets remaining</p>
        </div>
    </div>

    <div class="row card street-check">
        <div class="sm12">
            <h3>Is your street covered?</h3>
            <p class="ma0">
                <span class="inline-flex align-center">
                    0% <span class="progress"><span class="indicator" style="width: @Model.PostCodesCovered">&nbsp;</span></span> 100%
                </span>
                <span class="ml32">
                    @Model.PostCodesCovered% of the country's postcodes are covered so far.
                </span>
            </p>
            <div class="input mt68 mb56">
                <label>Your Postcode</label>
                <input id="postcode" type="text" placeholder="Enter your Postcode..." />
                <button class="btn cta" id="postcode_button">
                    <span class="text">Check postcode</span>
                    <span class="loader">Checking&hellip;</span>
                </button>
                <div id="postcode_covered" class="dnone">
                    Postcode covered
                </div>
                <div id="postcode_notcovered" class="dnone">
                    Postcode not covered
                </div>
                <div id="postcode_error" class="dnone">
                    Error
                </div>
            </div>
        </div>
    </div>

    <div class="row mt72 justify-center">
        <div class="sm8 text-center">
            <h2>What you can do right now</h2>
            <p>
                Millions of people in local communities are helping their neighbours and enabling them to safely shelter at home. We want to help everyone stay safe and secure and take care of some of the processes and paperwork that would otherwise take up time. You can help:
            </p>
        </div>
    </div>
    <div class="row mt72 mb15 justify-center">
        <div class="sm1"><span class="fab">1</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Street Champion
            </h4>
            <p>
                Sign up now so that your street is covered. We’ll connect you with local people who need help and the volunteers who can help you.
            </p>
        </div>
    </div>
    <div class="row list-item justify-center">
        <div class="sm1"><span class="fab">2</span></div>
        <div class="sm7">
            <h4>
                Sign up as a Volunteer
            </h4>
            <p>
                We’ll enable you to be verified quickly and easily, and show you who in your street needs support and how you can help them.
            </p>
        </div>
    </div>
    <div class="row list-item justify-center">
        <div class="sm4">
            <button class="btn cta large fill mt16">Sign Up Now</button>
        </div>
    </div>
    <div class="row justify-center text-center mt72">
        <div class="sm12 mb12">
            <h2>We will help people with&hellip;</h2>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/document_icon.svg" alt="Collect prescription" width="86" />
                <h6 class="mb0">Collect prescription for 73 year old grandmother</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/document_icon.svg" alt="Grocery shoppinh" width="86" />
                <h6 class="mb0">Grocery shopping for a pregnant young mum</h6>
            </div>
        </div>
        <div class="sm4">
            <div class="card pt32">
                <img src="~/img/document_icon.svg" alt="Post items" width="86" />
                <h6 class="mb0">Post items for an 88 year old grandad</h6>
            </div>
        </div>
    </div>
    <div class="row justify-center text-center mt72">
        <div class="sm12">
            <h2>We’re working with communities&hellip;</h2>
        </div>
        <div class="sm8">
            <p>
                Thank you to all the community volunteers around the UK who are working tirelessly to make sure that
                vulnerable people in their communities can continue to shelter safely at home. Our aim is to enable
                everyone to receive help from a trusted neighbourly volunteer:
            </p>
        </div>
        <div class="sm8 list">
            <span><span class="mdi mdi-check"></span> Safety - enabling every volunteer to be ID verified</span>
            <span>
                <span class="mdi mdi-check"></span> Privacy - protecting everyone’s data and only sharing it with the people who absolutely need it
            </span>
            <span><span class="mdi mdi-check"></span> Coverage - supporting every street in the UK</span>
            <span><span class="mdi mdi-check"></span> Neighbours Near and Far - enabling help for friends and family who live at the other end of the country</span>
            <span><span class="mdi mdi-check"></span> Supporting the frontline community organisers and volunteers by taking care of processes and paperwork</span>
        </div>
    </div>
    <div class="row justify-center">
        <div class="sm4">
            <button class="btn cta large fill mt16">Sign Up Now</button>
        </div>
    </div>
</div>
