@using HelpMyStreetFE.Models.Account;

@model AccountViewModel

@{
    string filterMessage = "To include / exclude a category click on the label(s) above the chart";
}

<div class="user-profile profile-panel p-md">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">@Model.CurrentGroup.GroupName Request Activity</h3>
    </header>
    
    <div class="mt-lg">
        <h5 class="report_title">Number of requests due each month split by current job status</h5>
        <p>@filterMessage</p>
        @await Component.InvokeAsync("Report", new
   {
       groupId = Model.CurrentGroup.GroupId,
       chart = HelpMyStreet.Utils.Enums.Charts.RequestVolumeByDueDateAndRecentStatus,
       chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
       dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-12):yyyy-MM-01}",
       dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
   })
    </div>

    <div class="mt-xl">
        <h5 class="report_title">Number of requests due each month by activity type</h5>
        <p>@filterMessage</p>
        @await Component.InvokeAsync("Report", new
   {
       groupId = Model.CurrentGroup.GroupId,
       chart = HelpMyStreet.Utils.Enums.Charts.RequestVolumeByActivityType,
       chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
       dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-12):yyyy-MM-01}",
       dateTo = $"{DateTime.UtcNow:yyyy-MM-dd}"
   })
    </div>
</div>
<div class="user-profile profile-panel p-md mt-xl">
    <header class="profile-panel__header">
        <h3 class="profile-panel__title">@Model.CurrentGroup.GroupName User Activity</h3>
    </header>    
    <div class="mt-lg">
        <h5 class="report_title">Number of registered users at month end</h5>
        <p>@filterMessage</p>
        @await Component.InvokeAsync("Report", new
        {
            groupId = Model.CurrentGroup.GroupId,
            chart = HelpMyStreet.Utils.Enums.Charts.VolumeOfUsersByType,
            chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
            dateFrom = $"{DateTime.UtcNow.Date.AddMonths(-12):yyyy-MM-01}",
            dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
        })
    </div>

    <div class="mt-xl">
        <h5 class="report_title">Number of volunteers accepting requests in the last 14 days</h5>
        @await Component.InvokeAsync("Report", new
        {
            groupId = Model.CurrentGroup.GroupId,
            chart = HelpMyStreet.Utils.Enums.Charts.RecentlyActiveVolunteersByVolumeOfAcceptedRequests,
            chartType = HelpMyStreet.Utils.Enums.ChartTypes.Bar,
            dateFrom = $"{DateTime.UtcNow.Date.AddDays(-14):yyyy-MM-dd}",
            dateTo = $"{DateTime.UtcNow.Date:yyyy-MM-dd}"
        })
    </div>
</div>