@model HelpMyStreetFE.Models.Account.UserDetails;

@{ 
    var notProvidedText = "None Provided";
}

    <article class="user-profile profile-panel p-md mt-md">
        <header class="profile-panel__header">
            <h3 class="profile-panel__title">My Details</h3>
        </header>
        <article class="profile">
            <dl class="profile__user-data">
                <div class="profile__user-data__item">
                    <dt class="flex">Display name </dt>
                    <dd>@(string.IsNullOrEmpty(Model.DisplayName) ? notProvidedText : Model.DisplayName)</dd>
                </div>

                <div class="profile__user-data__item">
                    <dt>Email address</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.EmailAddress) ? notProvidedText : Model.EmailAddress)</dd>
                </div>
                <div class="profile__user-data__item">
                    <dt>First name</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.FirstName) ? notProvidedText : Model.FirstName)</dd>
                </div>
                <div class="profile__user-data__item">
                    <dt>Last name</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.LastName) ? notProvidedText : Model.LastName)</dd>
                </div>
            </dl>

            <dl class="profile__user-data__item">
                <dt>Address</dt>
                <dd>@Model.Address</dd>
            </dl>

            <dl class="profile__user-data">
                <div class="profile__user-data__item">
                    <dt>Mobile number</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.MobileNumber) ? notProvidedText : Model.MobileNumber)</dd>
                </div>
                <div class="profile__user-data__item">
                    <dt>Other number</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.OtherNumber) ? notProvidedText : Model.OtherNumber)</dd>
                </div>

                <div class="profile__user-data__item">
                    <dt>Date of birth</dt>                    
                    <dd>@(string.IsNullOrEmpty(Model.DateOfBirth) ? notProvidedText : Model.DateOfBirth)</dd>
                </div>
            </dl> 
        </article>
    </article>