@model HelpMyStreetFE.Models.Account.AccountViewModel;
@using HelpMyStreetFE.Enums.Account

@section Scripts {
    <script src="~/profile.js" asp-append-version="true"></script>
    <script>
        const initObj = {
            domId: '@Model.VerificationViewModel.YotiOptions.DomId',
            scenarioId: '@Model.VerificationViewModel.YotiOptions.ScenarioId',
            clientSdkId: '@Model.VerificationViewModel.YotiOptions.ClientSdkId',
            userId: '@Model.VerificationViewModel.EncodedUserID',
            isVerified: '@Model.VerificationViewModel.IsVerified'
       };
    </script>    
}

@{
    ViewBag.Title = Model.CurrentPage switch
    {
        MenuPage.MyRequests => "My Requests",
        MenuPage.OpenRequests => "Open Requests",
        MenuPage.OpenShifts => "Open Shifts",
        MenuPage.MyShifts => "My Shifts",
        MenuPage.GroupRequests => $"{Model.CurrentGroup.GroupName} Requests",
        MenuPage.GroupVolunteers => $"{Model.CurrentGroup.GroupName} Volunteer List",
        MenuPage.GroupShifts => $"{Model.CurrentGroup.GroupName} Shifts",
        MenuPage.Reports => $"{Model.CurrentGroup.GroupName} Reports",
        _ => "My Profile"
    };
}

<main class="account__wrapper container">
    <div class="mb-md mt-md row">
        <div class="awards-component">@await Component.InvokeAsync("Awards", new {userID = Model.UserDetails.User.ID, cancellationToken = System.Threading.CancellationToken.None})</div>
    </div>

    <div class="account__body">
        <partial name="_AccountNavigation" />

        @switch (Model.CurrentPage)
        {
            case MenuPage.OpenRequests:
                <partial name="_OpenRequests" for="@Model" />
                break;
            case MenuPage.MyRequests:
                <partial name="_MyRequests" for="@Model" />
                break;
            case MenuPage.OpenShifts:
                <partial name="_OpenShifts" for="@Model" />
                break;
            case MenuPage.MyShifts:
                <partial name="_MyShifts" for="@Model" />
                break;
            case MenuPage.GroupRequests:
                <partial name="_GroupRequests" for="@Model" />
                break;
            case MenuPage.GroupShifts:
                <partial name="_GroupShifts" for="@Model" />
                break;
            case MenuPage.GroupVolunteers:
                <partial name="_GroupVolunteers" for="@Model" />
                break;
            case MenuPage.Reports:
                <partial name="_Reports" for="@Model" />
                break;
            default:
                <div>
                    <partial name="_Verification" for="VerificationViewModel" />
                    @if (Model.VerificationViewModel.StartAtStep == 0)
                    {
                        <partial name="_UserData" for="@Model.PageModel" />
                    }
                    <h1>Hello</h1>
                </div>
                break;
        }

    </div>
</main>
