@model HelpMyStreetFE.Models.Account.AccountViewModel;
@using HelpMyStreetFE.Enums.Account

@section Scripts {
    <script src="~/profile.js" asp-append-version="true"></script>
    <script>
        const initObj = {
            domId: '@Model.VerificationViewModel.YotiOptions.DomId',
            scenarioId: '@Model.VerificationViewModel.YotiOptions.ScenarioId',
            clientSdkId: '@Model.VerificationViewModel.YotiOptions.ClientSdkId',
            userId: '@Model.VerificationViewModel.EncodedUserID',
            isVerified: '@Model.VerificationViewModel.IsVerified'
       };
    </script>    
}

@{
    ViewBag.Title = Model.CurrentPage switch
    {
        MenuPage.AcceptedRequests => "My Accepted Requests",
        MenuPage.CompletedRequests => "My Completed Requests",
        MenuPage.OpenRequests => "Open Requests",
        MenuPage.GroupRequests => $"{Model.CurrentGroup.GroupName} Requests",
        MenuPage.GroupVolunteers => $"{Model.CurrentGroup.GroupName} Volunteers",
        _ => "My Profile"
    };
}

<main class="account__wrapper container">
    <div class="mb-md mt-md row">
        <div class="awards-component">@await Component.InvokeAsync("Awards", new {userID = Model.UserDetails.User.ID, cancellationToken = System.Threading.CancellationToken.None})</div>
    </div>

    <div class="account__body">
        <partial name="_AccountNavigation" />

        @switch (Model.CurrentPage)
        {
            case MenuPage.OpenRequests:
                <partial name="_OpenRequests" for="@Model" />
                break;
            case MenuPage.AcceptedRequests:
                <partial name="_AcceptedRequests" for="@Model" />
                break;
            case MenuPage.CompletedRequests:
                <partial name="_CompletedRequests" for="@Model" />
                break;
            case MenuPage.GroupRequests:
                <partial name="_GroupRequests" for="@Model" />
                break;
            case MenuPage.GroupVolunteers:
                <partial name="_GroupVolunteers" for="@Model" />
                break;
            default:
                <div>
                    <partial name="_Verification" for="VerificationViewModel" />
                    @if (Model.VerificationViewModel.StartAtStep == 0)
                    {
                        <partial name="_UserData" for="@Model.PageModel" />
                    }
                </div>
                break;
        }

    </div>
</main>
