@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreet.Utils.Utils;
@using HelpMyStreetFE.Models.Account.Jobs;
@using Westwind.AspNetCore.Markdown

@model JobDetailViewModel

@{
    Layout = "_LayoutPrint";

    var jobSummary = Model.JobDetail.Item;
    var requestSummary = Model.JobDetail.Item.RequestSummary;

    var questionsToDisplay = jobSummary.QuestionsToDisplay(false, jobSummary.JobStatus == JobStatuses.InProgress);
    var encodedJobID = Base64Utils.Base64Encode(jobSummary.JobID);
}

<h4>@jobSummary.GetSupportActivityName</h4>
@if (!String.IsNullOrEmpty(jobSummary.RecipientOrganisation))
{
    <h4>Group Name: @jobSummary.RecipientOrganisation </h4>
}

@if (jobSummary.JobStatus.Incomplete())
{
    <div class="job__expander">
        <div class="row">
            <div class="sm12">
                <dl>
                    <partial name="_WhenIsHelpNeeded" model="@Model.JobDetail.Item" />

                    @if (jobSummary.RequestType == RequestType.Shift)
                    {
                        <div class="location-details">
                            <dt>Where is the shift?</dt>

                            <dd>
                                <div>
                                    @Html.DisplayFor(m => m.JobDetail.Location.LocationDetails.Address)
                                    <span class="distance">(@Model.JobDetail.Location.Distance.ToString("0.0") miles away)</span>
                                </div>
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.GroupSupportActivityInstructions.ActivityDetails) || !string.IsNullOrEmpty(jobSummary.RecipientOrganisation) || questionsToDisplay?.Count() > 0)
{
    <div class="job__expander">
        <h4>Request Details<span></span></h4>
        <div class="job__expander__content">
            @if (!string.IsNullOrEmpty(Model.GroupSupportActivityInstructions.ActivityDetails)) { 
            <div class="row">
                <div class="sm12">
                    @Markdown.ParseHtmlString(Model.GroupSupportActivityInstructions.ActivityDetails)
                </div>
            </div>
            }
            @if (!string.IsNullOrEmpty(jobSummary.RecipientOrganisation) || questionsToDisplay?.Count() > 0)
            {
                <div class="row">
                    <div class="sm12">
                        <dl>
                            @if (!string.IsNullOrEmpty(jobSummary.RecipientOrganisation))
                            {
                                <dt>Organisation</dt>
                                <dd>@jobSummary.RecipientOrganisation</dd>
                            }

                            @foreach (var q in questionsToDisplay.Select(q => new QuestionViewModel(jobSummary, q)))
                            {
                                <partial name="_AnsweredQuestion" model="q" />
                            }
                        </dl>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="job__expander">
    <h4>Volunteer Instructions<span></span></h4>
    <div class="job__expander__content">
        <div class="row">
            <div class="sm12 volunteer-instructions">
                <partial name="_GroupSupportActivityInstructions" model="Model.GroupSupportActivityInstructions" />
            </div>
        </div>
    </div>
</div>


<script>window.print();</script>

