@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreetFE.Models.Account.Jobs

@model JobStatusChangePopupViewModel;


<div class="popup__content__header">Start Helping?</div>
<div class="popup__content__text credentials-required">
    @if (Model.AnnotatedGroupActivityCredentialSets.AnnotatedCredentialSets.Where(s => !s.Any(c => c.UserHasCredential)).Count() == 1)
    {
        <p>There's just one more thing you need to do before you can accept this request.</p>
    }
    else
    {
        <p>There's just a few more things you need to do before you can accept this request. </p>
    }

    <p>To complete a <strong>@Model.ReferringGroup</strong> request for <strong>@Model.JobSummary.SupportActivity.FriendlyNameShort()</strong> you need:</p>

    <div class="credentials-required__list">
        @{ int i = 0; }
        @foreach (var set in Model.AnnotatedGroupActivityCredentialSets.AnnotatedCredentialSets)
        {
            i++;

            <div class="credentials-required__set">
                <span class="fab circle">
                    @i
                </span>
                <div class="credentials-required__credentials @(set.Any(c => c.UserHasCredential) ? "satisfied" : "required")">
                    @{ int j = 0; }
                    @foreach (var cred in set)
                    {
                        j++;
                        <div class="credentials-required__credential @(cred.UserHasCredential ? "satisfied" :  (set.Any(c => c.UserHasCredential) ? "not-required" : "required"))">
                            <div class="name">@cred.GroupCredential.Name</div>
                            @if (cred.UserHasCredential)
                            {
                                <div class="done">
                                    <img src="/img/icons/green-tick.svg" alt="tick" />
                                    <span>Done</span>
                                </div>
                            }
                            else
                            {
                                <div class="how">
                                    @if (!string.IsNullOrEmpty(cred.GroupCredential.HowToAchieve_CTA_Destination))
                                    {
                                        <a class="btn cta" href="@cred.GroupCredential.HowToAchieve_CTA_Destination">@cred.GroupCredential.HowToAchieve</a>
                                    }
                                    else
                                    {
                                        <span>@cred.GroupCredential.HowToAchieve</span>
                                    }
                                </div>
                            }
                        </div>
                        @if (j < set.Count())
                        {
                            <div class="or">or</div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
