@using HelpMyStreetFE.Models.Account.Jobs;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreet.Utils.Utils;
@using HelpMyStreetFE.Helpers;

@model QuestionViewModel;

@{
    var encodedJobID = Base64Utils.Base64Encode(Model.Job.JobID);
    var encodedQuestionID = Base64Utils.Base64Encode(Model.Question.Id);
}

<dt>@Model.Question.FriendlyName()</dt>
<dd data-job-id="@encodedJobID" data-question-id="@encodedQuestionID">
    <span>
        @Html.Raw(Model.Question.Answer.ToHtmlSafeStringWithLineBreaks())
    </span>
    @if (Model.IsEditable)
    {
        <form>
            <input value="@Model.Question.Answer" />
        </form>
    }
</dd>
