@using HelpMyStreet.Utils.Extensions;
@model HelpMyStreet.Utils.Models.Address

@{
    var MaskAddress = ViewData["MaskAddress"] != null & ViewData["MaskAddress"] is bool ? (bool)ViewData["MaskAddress"] : false;
}


@if (!MaskAddress)
{
    @if (!String.IsNullOrEmpty(Model.AddressLine1))
    {
        <span>@Model.AddressLine1, </span>
    }
    @if (!String.IsNullOrEmpty(Model.AddressLine2))
    {
        <span>@Model.AddressLine2, </span>
    }
    @if (!String.IsNullOrEmpty(Model.AddressLine3))
    {
        <span>@Model.AddressLine3, </span>
    }
    @if (!String.IsNullOrEmpty(Model.Locality))
    {
        <span>@($"{Model.Locality.ToTitleCase()}{(!String.IsNullOrEmpty(Model.Postcode) ? ", " : "")}")</span>
    }
}
@if (!String.IsNullOrEmpty(Model.Postcode))
{
    <span>@Model.Postcode</span>
}
