@using HelpMyStreetFE;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Utils;

@model HelpMyStreet.Utils.Models.JobSummary

@{
    bool UserIsVerified = (bool)ViewData["UserIsVerified"];
    bool IsAccepted = ViewData["IsAccepted"] is bool ? (bool)ViewData["IsAccepted"] : false;
    var id = Base64Utils.Base64Encode(Model.JobID.ToString());
}

<script>
    function open(guid) {
        console.log('hey hey');
        $(`#${guid}`).addClass('open');
    }

    function close(guid) {
        $(`#${guid}`).removeClass('open');
    }
</script>

<div class="job @(@Model.IsHealthCritical ? "job--critical" : "")" id="job-@id">
    <div class="job__info">
        <div class="job__info__urgency">
            @if (Model.IsHealthCritical)
            {
                <span class="critical-icon">!</span>
                <span class="critical">Critical</span>
            }
            else
            {
                <img src="~/img/icons/calendar.svg" />
            }
            <span>Due @Model.DueDate.ToShortDateString()</span>
        </div>
        <div class="job__info__activity column">
            <span class="activity__title @Model.SupportActivity.Class()">
                @if (Model.SupportActivity != SupportActivities.Other)
                {
                    <img src="~/img/icons/@Model.SupportActivity.Icon()" />
                }
                @Model.SupportActivity.FriendlyName()
            </span>
            <span class="activity__detail">@Model.PostCode (@Math.Round(Model.DistanceInMiles, 1) miles away)</span>
        </div>
        <div class="job__info__actions column">
            @if (IsAccepted)
            {
                <button class="btn cta large fill">
                    <span class="text">Done</span>
                </button>
                <button class="btn border-green green large bg-white mt-sm">
                    <span class="text">Release</span>
                </button>
            }
            else
            {
                <button class="btn cta large fill" @(UserIsVerified ? "" : "disabled")>
                    <span class="text">Accept</span>
                </button>
            }
        </div>
        <div class="job__info__footer">
            @if (UserIsVerified)
            {
                <a href="#" data-id="@id" class="open">View more info&#9660;</a>
                <a href="#" data-id="@id" class="close">View less info&#9650;</a>
            }
            else
            {
                <a href="#" class="disabled">View more info&#9660;</a>
            }
        </div>
    </div>
    <div class="job__detail">
        <h4>Request Description</h4>
        <p>@Model.Details</p>
        <h4>Further Details</h4>
        <p>@Model.OtherDetails</p>
        <h4>Communication Needs</h4>
        <p>@Model.SpecialCommunicationNeeds</p>
    </div>
</div>