@using HelpMyStreetFE.Helpers;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Utils;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreetFE.Models.Community;

@model HelpMyStreetFE.Models.Account.Jobs.JobViewModel

@{
    var id = Base64Utils.Base64Encode(Model.JobHeader.JobID);
    var role = Base64Utils.Base64Encode((int)Model.UserRole);
    var admin = Model.UserRole == RequestRoles.GroupAdmin;

    var className = "";
    var dueDate = "";

    if (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress)
    {
        dueDate = Model.JobHeader.DueDate.JobDueDate(Model.JobHeader.DueDateType);

        if (dueDate.Contains("urgent"))
        {
            className += " job--urgent";
        }

        if (dueDate.Contains("soon"))
        {
            className += " job--due-soon";
        }
    }

    if (Model.HighlightJob)
    {
        className += " highlight";
    }
}

<div class="job @className" id="@id" data-job-status="@Model.JobHeader.JobStatus" data-role="@role">
    <div class="job__info @(admin ? "admin-view" : "")">
        <div class="job__info__col1">
            @if (admin)
            {
                <span class="job__info__col1__status toggle-on-status-change">
                    <img class="status-icon" src="~/img/icons/status/@Model.JobHeader.JobStatus.Icon()" alt="@Model.JobHeader.JobStatus.FriendlyName()" />
                    <span class="job__status">@Model.JobHeader.JobStatus.FriendlyName()</span>
                </span>
            }

            @if (Model.JobHeader.IsHealthCritical && (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress))
            {
                <span class="job__info__col1__criticality">
                    <span class="critical-icon">!</span>
                    <span class="critical">Critical</span>
                </span>
            }
            <div class="toggle-on-status-change">
                <div class="job__info__col1__referrer">
                    <partial name="_GroupLogo" model="new GroupLogoViewModel { GroupId = Model.JobHeader.ReferringGroupID }" />
                </div>
            </div>

            @if (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress)
            {
                <span class="job__info__col1__urgency toggle-on-status-change">
                    @if (admin)
                    {
                        <span class="" title="@Model.JobHeader.DateRequested.ToString("dd/MM/yyyy")">Requested @Model.JobHeader.DateRequested.FriendlyPastDate()</span>
                    }
                    <span class="job__info__col1__urgency__dates due-date" title="@(Model.JobHeader.DueDateType == DueDateType.On ? Model.JobHeader.DueDate.FriendlyFutureDate() : "")">
                        @dueDate
                    </span>

                </span>
            }


            <span class="job__info__col1__new-status job__status job__status__new dnone toggle-on-status-change">
            </span>
            @if (!admin && Model.JobHeader.JobStatus == JobStatuses.Open)
            {
                <span class="job__info__col1__next-step dnone toggle-on-status-change">
                    <a href="/account/accepted-requests?j=@Base64Utils.Base64Encode(Model.JobHeader.JobID)">Go to My Accepted Requests</a>
                </span>
            }
        </div>
        <div class="job__info__activity">
            @if (Model.JobHeader.IsHealthCritical && (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress))
            {
                <span class="job__info__activity__criticality">
                    <span class="critical-icon">!</span>
                    <span class="critical">Critical</span>
                </span>
            }
            <span class="job__info__activity__title @Model.JobHeader.SupportActivity.Class()">
                @if (Model.JobHeader.SupportActivity != SupportActivities.Other)
                {
                    <img src="~/img/icons/@Model.JobHeader.SupportActivity.Icon()" />
                }
                <span>
                    @Model.JobHeader.SupportActivity.FriendlyNameShort()
                </span>
            </span>
            @if (!string.IsNullOrWhiteSpace(Model.JobHeader.Reference))
            {
                <span class="job__info__activity__title @Model.JobHeader.SupportActivity.Class()">
                    @($"({Model.JobHeader.Reference})")
                </span>
            }
            <span class="job__info__activity__location">
                @Model.JobHeader.PostCode
                @if (!admin && Model.JobHeader.JobStatus == JobStatuses.Open)
                {
                    <span class="distance">(@Math.Round(Model.JobHeader.DistanceInMiles, 1) miles away)</span>
                }
            </span>
        </div>
        <div class="job__info__col3 flex-end">
            @if (Model.JobHeader.IsHealthCritical && (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress))
            {
                <span class="job__info__col3__criticality">
                    <span class="critical-icon">!</span>
                    <span class="critical">Critical</span>
                </span>
            }
            <div class="job__info__actions">
                @switch (Model.JobHeader.JobStatus)
                {
                    case JobStatuses.Open:
                        @if (!admin)
                        {
                            <button class="btn cta @(Model.UserHasRequiredCredentials ? "" : "cta--green-border") trigger-status-update-popup" data-target-state="@JobStatuses.InProgress">
                                <span class="text">Accept</span>
                            </button>
                        }
                        break;
                    case JobStatuses.InProgress:
                        <button class="btn cta trigger-status-update-popup" data-target-state="@JobStatuses.Done">
                            <span class="text">Mark as Done</span>
                        </button>
                        <button class="btn cta--dark-blue-border trigger-status-update-popup" data-target-state="@JobStatuses.Open">
                            @if (admin)
                            {
                                <span class="text">Mark as Open</span>
                            }
                            else
                            {
                                <span class="text">Can't do</span>
                            }
                        </button>
                        break;
                    case JobStatuses.Done:
                        <div class="feedback-container">
                            <button class="btn cta--gray-8-border">
                                <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Loading...", Hide = false, ShowDarkSpinner = true }' />
                            </button>
                        </div>
                        if (admin && !(Model.JobHeader.Archive ?? false))
                        {
                            <button class="btn cta--orange-border trigger-status-update-popup" data-target-state="@JobStatuses.InProgress" data-target-user="@Base64Utils.Base64Encode(Model.JobHeader.VolunteerUserID.ToString())">
                                <span class="text">Not done</span>
                            </button>
                        }
                        break;
                    case JobStatuses.Cancelled:
                        <div class="feedback-container"></div>
                        break;
                }
                @if (admin && Model.JobHeader.JobStatus != JobStatuses.Cancelled && !(Model.JobHeader.Archive ?? false))
                {
                    <button class="btn cta--orange-border trigger-status-update-popup" data-target-state="@JobStatuses.Cancelled">
                        <span class="text">Cancel</span>
                    </button>
                }
                <button class="btn cta--green-border undo-request dnone" data-target-state="@Model.JobHeader.JobStatus" data-target-user="@(Model.JobHeader.VolunteerUserID.HasValue ? Base64Utils.Base64Encode(Model.JobHeader.VolunteerUserID.Value) : "")">
                    <span class="text">Undo</span>
                    <div class="loader dnone">
                        <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Undoing...", ShowDarkSpinner= true }' />
                    </div>
                </button>
            </div>
            <div class="job__info__footer">
                <a href="#" class="open">View more info <span></span></a>
                <a href="#" class="close">View less info <span></span></a>
            </div>
        </div>

    </div>
    <div class="job__detail">
        <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel() { Hide = false, ShowDarkSpinner = true }' />
    </div>
</div>
