@using HelpMyStreetFE.Helpers;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreet.Utils.Utils;
@using HelpMyStreet.Utils.Extensions;

@model HelpMyStreetFE.Models.Account.Jobs.JobViewModel

@{
    var id = Base64Utils.Base64Encode(Model.JobHeader.JobID);

    var className = "";
    if (Model.JobHeader.JobStatus == JobStatuses.Open || Model.JobHeader.JobStatus == JobStatuses.InProgress)
    {
        if (Model.JobHeader.DueDate.Date <= DateTime.Today)
        {
            className = "job--hot";
        }

        if (Model.JobHeader.DueDate.Date == DateTime.Today.AddDays(1))
        {
            className = "job--warm";
        }
    }

    var AgeUk = Model.JobHeader.SupportActivity == SupportActivities.WellbeingPackage;
    string iconClass = AgeUk ? "limit-width" : "";
}

<div class="job @className" id="@id" data-job-status="@Model.JobHeader.JobStatus">
    <div class="job__info">
        <div class="job__info__urgency">
            @if (Model.JobHeader.JobStatus == JobStatuses.Done)
            {
                <span class="job__info__urgency__dates">
                    <img src="~/img/icons/green-tick.svg" alt="Done" />
                    <span class="due-date" title="@Model.JobHeader.DateStatusLastChanged.ToString("dd/MM/yyyy")">Completed @Model.JobHeader.DateStatusLastChanged.FriendlyPastDate()</span>
                </span>
            }
            else if (Model.JobHeader.JobStatus == JobStatuses.Cancelled)
            {
                <span class="job__info__urgency__dates">
                    <img src="~/img/icons/gray-tick.svg" alt="Cancelled" />
                    <span class="due-date" title="@Model.JobHeader.DateStatusLastChanged.ToString("dd/MM/yyyy")">Cancelled @Model.JobHeader.DateStatusLastChanged.FriendlyPastDate()</span>
                </span>
            }
            else
            {
                @if (Model.UserActingAsAdmin)
                {
                    <span class="job__info__urgency__dates job__status">@Model.JobHeader.JobStatus.FriendlyName()</span>
                    <span class="job__info__urgency__dates">
                        <span class="" title="@Model.JobHeader.DateRequested.ToString("dd/MM/yyyy")">Requested @Model.JobHeader.DateRequested.FriendlyPastDate()</span>
                    </span>
                }
                else
                {
                    <span class="job__info__urgency__dates">
                        <img src="~/img/icons/calendar.svg" />
                    </span>
                }

                <span class="job__info__urgency__dates due-date" title="@Model.JobHeader.DueDate.ToString("dd/MM/yyyy")">
                    @Model.JobHeader.DueDate.JobDueDate(Model.JobHeader.DueDateType)
                </span>
            }
            <span class="job__status job__status__new">
            </span>
            @if (!Model.UserActingAsAdmin && Model.JobHeader.JobStatus == JobStatuses.Open)
            {
                <span class="next-step dnone">
                    <a href="/account/accepted-requests?j=@Base64Utils.Base64Encode(Model.JobHeader.JobID)">Go to My Accepted Requests</a>
                </span>
            }
        </div>
        <div class="job__info__activity column">
            @if (Model.JobHeader.IsHealthCritical)
            {
                <span class="">
                    <span class="critical-icon">!</span>
                    <span class="critical">Critical</span>
                </span>
            }
        <span class="activity__title @Model.JobHeader.SupportActivity.Class()">
            @if (Model.JobHeader.SupportActivity != SupportActivities.Other)
            {
                <img src="~/img/icons/@Model.JobHeader.SupportActivity.Icon()" class="@iconClass" />
            }

            @Model.JobHeader.SupportActivity.FriendlyNameShort()

            @if (!string.IsNullOrWhiteSpace(Model.JobHeader.Reference))
            {
                @($"({Model.JobHeader.Reference})")
            }

        </span>
            <span class="activity__detail">
                @Model.JobHeader.PostCode
                @if (!Model.UserActingAsAdmin && Model.JobHeader.JobStatus == JobStatuses.Open)
                {
                    <span>(@Math.Round(Model.JobHeader.DistanceInMiles, 1) miles away)</span>
                }
            </span>
        </div>
        <div class="column flex-end mt-sm">
            <div class="job__info__actions">
                @switch (Model.JobHeader.JobStatus)
                {
                    case JobStatuses.Open:
                        @if (!Model.UserActingAsAdmin)
                        {
                            <button class="btn cta @(Model.UserHasRequiredCredentials ? "" : "cta--green-border") large trigger-status-update-popup" data-target-state="@JobStatuses.InProgress">
                                <span class="text">Accept</span>
                            </button>
                        }
                        break;
                    case JobStatuses.InProgress:
                        <button class="btn cta large trigger-status-update-popup" data-target-state="@JobStatuses.Done">
                            <span class="text">Mark as Done</span>
                        </button>
                        <button class="btn cta--dark-blue-border large trigger-status-update-popup" data-target-state="@JobStatuses.Open">
                            @if (Model.UserActingAsAdmin)
                            {
                                <span class="text">Mark as Open</span>
                            }
                            else
                            {
                                <span class="text">Can't do</span>
                            }
                        </button>
                        break;
                    case JobStatuses.Done:
                        if (Model.UserActingAsAdmin && !(Model.JobHeader.Archive ?? false))
                        {
                            <button class="btn cta--orange-border large trigger-status-update-popup" data-target-state="@JobStatuses.InProgress" data-target-user="@Base64Utils.Base64Encode(Model.JobHeader.VolunteerUserID.ToString())">
                                <span class="text">Not done</span>
                            </button>
                        }
                        break;
                }
                @if (Model.UserActingAsAdmin && Model.JobHeader.JobStatus != JobStatuses.Cancelled && !(Model.JobHeader.Archive ?? false))
                {
                    <button class="btn cta--orange-border large trigger-status-update-popup" data-target-state="@JobStatuses.Cancelled">
                        <span class="text">Cancel</span>
                    </button>
                }
                <button class="btn cta--green-border large undo-request dnone" data-target-state="@Model.JobHeader.JobStatus" data-target-user="@(Model.JobHeader.VolunteerUserID.HasValue ? Base64Utils.Base64Encode(Model.JobHeader.VolunteerUserID.Value) : "")">
                    <span class="text">Undo</span>
                    <div class="loader dnone">
                        <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel { Text = "Undoing...", ShowDarkSpinner= true }' />
                    </div>
                </button>
            </div>
            <div class="job__info__footer">
                <a href="#" class="open">View more info <span></span></a>
                <a href="#" class="close">View less info <span></span></a>
            </div>
        </div>

    </div>
    <div class="job__detail">
        <partial name="_LoadingSpinner" model='new LoadingSpinnerViewModel() { Hide = false, ShowDarkSpinner = true }' />
    </div>
</div>
