@model HelpMyStreetFE.Models.Account.Street;

@{ 
    var viewModel = Model;

}
    
    <div class="profile__mystreet">
        <div class="profile__mystreet__header">
            <span class="mobile">@Model.Name</span>
            <span class="desktop">
                @if (String.IsNullOrEmpty(Model.FriendlyName))
                {
                    @Model.Name
                }
                else
                {
                    @Model.FriendlyName
                }
            </span>
            @if (Model.Helpers.Count == 0)
            {
                <span> - No helpers are currently covering this postcode</span>
            }
            else
            {
                <span class="profile__mystreet__header__arrow"><span class="profile__mystreet__header__arrow--up"></span></span>
            }
        </div>
        @if (Model.Helpers.Count > 0)
        {
            <div class="profile__mystreet__details dnone">
                <div class="profile__mystreet__details__desktop ">
                    <div class="profile__mystreet__details__volunteer br-none">
                        <span class="profile__mystreet__details__volunteer--big"><span><strong>Street Champions And Helpers</strong></span></span>
                    </div>
                    <div class="profile__mystreet__details__volunteer">
                        <span class="profile__mystreet__details__volunteer--big"><span><strong>Can help with...</strong></span></span>
                    </div>
                    @Html.DisplayFor(x => x.Helpers)
                </div>

                <div class="profile__mystreet__details__mobile  ">
                    @Html.DisplayFor(x => x.Helpers)
                </div>
            </div>
                }
        
    </div>
        
