@model HelpMyStreetFE.Models.RequestHelp.NewMVCForm.Models.RequestHelpNewViewModel;

<ol class="progress-bar">
    <li class="@(Model.CurrentStepIndex == 0 ? "is-active" : "") @(Model.CurrentStepIndex > 0 ? "is-complete" : "")">
        <span>Request</span>
    </li>
    <li class="@(Model.CurrentStepIndex == 1 ? "is-active" : "") @(Model.CurrentStepIndex > 1 ? "is-complete" : "") ">
        <span>Details</span>
    </li>
    <li class="@(Model.CurrentStepIndex == 2 ? "is-active" : "")">
        <span>Review</span>
    </li>
</ol>
