@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.QuestionsViewModel
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreetFE.Helpers;

@if (Model.Questions != null)
{
    @foreach (RequestHelpQuestion question in Model.Questions)
    {
        var name = $"currentStep.Questions.[{question.ID}].Model";

        <div class="row">
            <div class="sm12 input">
                <label>
                    @Html.Raw(question.Label)
                    <span class="sub-text">@Html.Raw(question.SubText)</span>
                </label>

                @switch (question.InputType)
                {
                    case QuestionType.LabelOnly:
                        break;
                    case QuestionType.MultiLineText:
                        <textarea placeholder="@question.PlaceholderText" data-id="@question.ID" class="question @question.Class()" data-required="@question.Required" data-val-message="@question.DataValidationMessage" name="@name">@question.Model</textarea>
                        break;
                    case QuestionType.Text:
                        <input type="text" placeholder="@question.PlaceholderText" data-id="@question.ID" class="question @question.Class()" data-required="@question.Required" data-val-message="@question.DataValidationMessage" value="@question.Model" name="@name">
                        break;
                    case QuestionType.Number:
                        <input type="number" min="1" max="@question.Max()" placeholder="@question.PlaceholderText" data-id="@question.ID" class="question @question.Class()" data-required="@question.Required" data-val-message="@question.DataValidationMessage" value="@question.Model" name="@name">
                        break;
                    case QuestionType.Radio:

                        @foreach (var radio in question.AdditionalData)
                        {
                            <div class="input--radio">
                                <label>
                                    <input type="radio" name="@name" value="@radio.Key" data-id="@question.ID" data-required="@question.Required" data-val-message="@question.DataValidationMessage" class="question @question.Class()" @(question.Model == radio.Key ? "checked" : "") hidden />
                                    <span class="input--radio__radio">
                                        <span class="input--radio__radio__inner"></span>
                                    </span>
                                    @radio.Value
                                </label>
                            </div>
                        }
                        break;
                }

                <span class="error">@question.DataValidationMessage()</span>
            </div>
        </div>
    }
}