@model HelpMyStreetFE.Models.NotificationModel;

<div class="notification__card" data-notificationId="@Model.Id">
    <div class="notification__icon__wrapper">
        <img class="notification__icon" src="~/img/icons/thumbs-up.svg" alt="Thumbs up" />
    </div>
    <div class="notification__content">
        <div class="notification__title">@Model.Title</div>
        <div class="notification__title">@Model.Subtitle</div>
        <div class="notification__message">@Html.Raw(@Model.Message)</div>        
        <div class="notification__button text-center mt-md">
           @Html.Raw(Model.Button)
        </div>
    </div>            
</div>