@using HelpMyStreetFE.Models;

@model TileSelectorViewModel;

<div class="sm12 input tile-selector">
    <label for="@Model.FieldName.Replace('.', '_')">@Html.Raw(Model.Label)</label>

    <div class="tiles">
        <div class="input">
            <input class="tile-selector__value" type="hidden" id="@Model.FieldName.Replace('.', '_')" name="@Model.FieldName" value="@Model.TileVMs.Where(x => x.IsSelected).FirstOrDefault()?.Value" />

            <div class="row">
                @foreach (var frequency in Model.TileVMs)
                {
                    @Html.DisplayFor(x => frequency, Model.TileView)
                }
            </div>
            <span class="error"></span>
        </div>
    </div>
</div>
