@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.RequestorViewModel
@{ 
    var ForReview = ViewData["ForReview"] is bool ? (bool)ViewData["ForReview"] : false;
}    

    <div class="sm4">
        <div id="requestorFor_@Model.ID" data-type="request-for" data-id='@Model.ID' class="tiles__tile tiles__tile--large @Model.ColourCode @(Model.IsSelected && !ForReview? "selected" : "" )">
            <div class="tiles__tile__content ">
                <div class="tiles__tile__content__icon">
                    <div class="cirlce">
                        <img class="no-selected" src="~/img/icons/@Model.IconDark" />
                        <img class="on-selected" src="~/img/icons/@Model.IconLight" />
                    </div>
                </div>
                <div class="tiles__tile__content__header pt-xs">@Model.Title</div>
                <div class="tiles__tile__content__description">@Model.Text</div>
            </div>
        </div>
    </div>








