@using HelpMyStreetFE.Models.RequestHelp;
@using HelpMyStreetFE.Helpers;
@using HelpMyStreet.Utils.Extensions;
@using HelpMyStreet.Utils.Enums;
@using HelpMyStreetFE.Models.RequestHelp.Stages.Request;

@model TasksViewModel

@{
    var activities = new List<RequestActivityViewModel>
{
                new RequestActivityViewModel{ Activity = SupportActivities.WellbeingPackage, Description = "Collection and delivery of a ready-made wellbeing package"},
                new RequestActivityViewModel{ Activity = SupportActivities.Shopping, Description = "Picking up groceries and other essentials (e.g. food, toiletries, household products)"},
                new RequestActivityViewModel{ Activity = SupportActivities.FaceMask ,Description = "Finding someone to provide washable fabric face coverings"},
                new RequestActivityViewModel{ Activity = SupportActivities.CheckingIn,  Description = "Checking that someone is OK"},
                new RequestActivityViewModel{ Activity = SupportActivities.CollectingPrescriptions, Description = "Collecting prescriptions from a local pharmacy", },
                new RequestActivityViewModel{ Activity = SupportActivities.Errands, Description = "Running essential local errands (e.g. posting mail)"},
                new RequestActivityViewModel{ Activity = SupportActivities.DogWalking, Description = "Walking a calm dog",},
                new RequestActivityViewModel{ Activity = SupportActivities.MealPreparation, Description = "Getting a hot / pre-prepared meal", },
                new RequestActivityViewModel{ Activity = SupportActivities.PhoneCalls_Friendly, Description = "A friendly chat on the phone"},
                new RequestActivityViewModel{ Activity = SupportActivities.PhoneCalls_Anxious, Description = "Some extra support over the phone"},
                new RequestActivityViewModel{ Activity = SupportActivities.HomeworkSupport, Description = "Remote support for children being home-schooled"},
                new RequestActivityViewModel{ Activity = SupportActivities.Other,  Description= "Please tell us more below"},
                new RequestActivityViewModel{ Activity = SupportActivities.CommunityConnector,  Description= "I want to get in touch with a Community Connector"},
                new RequestActivityViewModel{ Activity = SupportActivities.ColdWeatherArmy, Description = "Getting help in an emergency during a cold snap"},
                new RequestActivityViewModel{ Activity = SupportActivities.MealsToYourDoor, Description = "Freshly prepared meals, delivered straight to your door"},
                new RequestActivityViewModel{ Activity = SupportActivities.MealtimeCompanion, Description = "Finding someone to keep me company at mealtimes when I would otherwise be alone"},
                new RequestActivityViewModel{ Activity = SupportActivities.VolunteerSupport, Description = "Finding one or more volunteers to help with events, admin duties or not-for-profit activities", MultiVolunteer = true },
                new RequestActivityViewModel{ Activity = SupportActivities.Transport, Description = "Finding transport for essential appointments"},
                new RequestActivityViewModel{ Activity = SupportActivities.VaccineSupport, Description = "Find volunteers for vaccine programme support shifts", MultiVolunteer = true },
                new RequestActivityViewModel{ Activity = SupportActivities.EmergencySupport, Description = "Finding one or more volunteers to help in an emergency situation (e.g. extreme weather)", MultiVolunteer = true },
                new RequestActivityViewModel{ Activity = SupportActivities.BinDayAssistance, Description = "Help taking out and bringing in bins on collection day"},
                new RequestActivityViewModel{ Activity = SupportActivities.Covid19Help, Description = "Help booking a COVID-19 test or vaccination appointment"},
                new RequestActivityViewModel{ Activity = SupportActivities.DigitalSupport, Description = "Help with computers, phones and other technology for people finding it difficult to get online"},
                new RequestActivityViewModel{ Activity = SupportActivities.InPersonBefriending, Description = "Face-to-face meetings to reduce loneliness"},
                new RequestActivityViewModel{ Activity = SupportActivities.PracticalSupport, Description = "Help with everyday tasks (e.g. changing a lightbulb, filling in forms etc.)"},
                new RequestActivityViewModel{ Activity = SupportActivities.BankStaffVaccinator, Description = "Finding registered vaccinators", MultiVolunteer = true },
                new RequestActivityViewModel{ Activity = SupportActivities.SkillShare, Description = "Finding volunteers to share their skills and interests"},
                new RequestActivityViewModel{ Activity = SupportActivities.Accommodation, Description = "Providing accommodation for  refugees (minimum six months)"},
       };


    var activity = activities.Where(x => x.Activity == Model.SupportActivity).First();


    var ForReview = ViewData["ForReview"] is bool ? (bool)ViewData["ForReview"] : false;

}


<div class="sm4">

    <div id="task_@((int)Model.SupportActivity)" data-type="@Model.DataType" data-value="@Model.Value" data-id='@Model.ID' class="tile-selector__tile tiles__tile tiles__tile--large @activity.Activity.Class() @(Model.IsSelected && !ForReview ? "selected" : "" )">
        <div class="tiles__tile__content ">
            @if (activity.MultiVolunteer && !ForReview)
            {
                <div class="tiles__tile__content__badge" title="Enabled for multiple volunteers">
                    MULTI
                </div>
            }
            @if (!string.IsNullOrEmpty(activity.Activity.Icon()))
            {
                <div class="tiles__tile__content__icon"><img src="~/img/icons/@activity.Activity.Icon()" /> </div>
            }
            else
            {
                <div class="mt-md"></div>
            }
            <div class="tiles__tile__content__header">@Model.Description</div>
            <div class="tiles__tile__content__description">@activity.Description</div>
        </div>
    </div>
</div>

