@using HelpMyStreetFE.Helpers;
@using HelpMyStreet.Utils.Enums;

@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.RequestHelpTimeViewModel;

@{
    var todaysDate = DateTime.Now;
    todaysDate = todaysDate.ToLocalTime();
    var stringDate = todaysDate.AddDays(7).ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT);

    var widthClass = "sm" + (1 + (Model.DueDateType.HasStartTime() ? 1 : 0) + (Model.DueDateType.HasEndTime() ? 1 : 0)) * 4;
}

<div class="@widthClass" hide-tile-when="@Model.HideTileWhenAttribute">
    <div id="time_@Model.ID" data-type="timeframe" data-duedatetype="@Model.DueDateType" data-value="@Model.Value" data-id='@Model.ID' class="tiles__tile tile-selector__tile @(Model.IsSelected ? "selected" : "" ) row">

        <div class="tiles__tile__content sm4">
            <div class="tiles__tile__content__header pt-xs">@Model.Description</div>
            @if (Model.DueDateType.HasDate())
            {
                <div class="on-selected">
                    <input name="currentStep.SelectedTimeFrame.Date" type="text" id="datepicker" placeholder="e.g. @(stringDate)" autocomplete="off" value="@(Model.StartTime != DateTime.MinValue ? Model.StartTime.ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT) : "")" />
                    <span id="dateselectionError" class="error"></span>
                </div>
            }
        </div>

        @if (Model.DueDateType.HasStartTime())
        {
            <div class="tiles__tile__content sm4">
                <div class="tiles__tile__content__header pt-xs">Starting at</div>
                <div class="on-selected mt-xs">
                    <input name="currentStep.SelectedTimeFrame.StartTime" type="time" step="300" placeholder="e.g. 15:00" autocomplete="off" value="@(Model.StartTime != DateTime.MinValue ? Model.StartTime.ToString(DatePickerHelpers.TIME_FIELD_FORMAT) : "")" />
                    <span id="starttimeselectionError" class="error"></span>
                </div>
            </div>
        }

        @if (Model.DueDateType.HasEndTime())
        {
            <div class="tiles__tile__content sm4">
                <div class="tiles__tile__content__header pt-xs">Ending at</div>
                <div class="on-selected">
                    <input name="currentStep.SelectedTimeFrame.EndTime" type="time" step="300" placeholder="e.g. 18:00" autocomplete="off" value="@((Model.EndTime ?? DateTime.MinValue) != DateTime.MinValue ? Model.EndTime.Value.ToString(DatePickerHelpers.TIME_FIELD_FORMAT) : "")" />
                    <span id="endtimeselectionError" class="error"></span>
                </div>
            </div>
        }
        @if (Model.DueDateType.HasEndDate())
        {
            <label class="mt-lg">When does the opportunity close?</label>

            <div class="tiles__tile__content__header pt-xs">Opportunity End Date</div>
            <div class="on-selected">
                <input name="currentStep.SelectedTimeFrame.EndDate" type="text" id="datepicker" placeholder="e.g. @(stringDate)" autocomplete="off" value="@(Model.StartTime != DateTime.MinValue ? Model.StartTime.ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT) : "")" />
                <span id="dateselectionError" class="error"></span>
            </div>
        }
    </div>
    
</div>

