@using HelpMyStreetFE.Helpers;
@using HelpMyStreet.Utils.Enums;

@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.RequestHelpTimeViewModel;

@{
    var todaysDate = DateTime.Now;
    todaysDate = todaysDate.ToLocalTime();
    var stringDate = todaysDate.AddDays(7).ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT);
}

<div class="sm4">
    <div id="time_@Model.ID" data-type="timeframe" data-duedatetype="@Model.DueDateType" data-value="@Model.Value" data-id='@Model.ID' data-val="@Model.Days.ToString()" class="tiles__tile tile-selector__tile @(Model.IsSelected ? "selected" : "" )">
        <div class="tiles__tile__content ">
            <div class="tiles__tile__content__header pt-xs">@Model.Description</div>
            @if (Model.DueDateType.HasDate())
            {
                <div class="on-selected">
                    <input name="currentStep.SelectedTimeFrame.Date" type="text" id="datepicker" placeholder="e.g. @(stringDate)" autocomplete="off" value="@(Model.Date != DateTime.MinValue ? Model.Date.Date.ToString(DatePickerHelpers.DATE_PICKER_DATE_FORMAT) : "")" />
                    <span id="dateselectionError" class="error"></span>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.DueDateType.HasStartTime())
{
    <div class="sm4">
        <div id="start_time_@Model.ID" data-type="timeframe" data-duedatetype="@Model.DueDateType" data-id='@Model.ID' class="tiles__tile tile-selector__tile @(Model.IsSelected ? "selected" : "" )">
            <div class="tiles__tile__content ">
                <div class="tiles__tile__content__header pt-xs">Starting at</div>
                <div class="on-selected">
                    <input name="currentStep.SelectedTimeFrame.StartTime" type="time" step="300" placeholder="e.g. 15:00" autocomplete="off" value="@(Model.StartTime != DateTime.MinValue ? Model.StartTime.ToString(DatePickerHelpers.TIME_FIELD_FORMAT) : "")" />
                    <span id="starttimeselectionError" class="error"></span>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.DueDateType.HasEndTime())
{
    <div class="sm4">
        <div id="end_time_@Model.ID" data-type="timeframe" data-duedatetype="@Model.DueDateType" data-id='@Model.ID' class="tiles__tile tile-selector__tile @(Model.IsSelected ? "selected" : "" )">
            <div class="tiles__tile__content ">
                <div class="tiles__tile__content__header pt-xs">Ending at</div>
                <div class="on-selected">
                    <input name="currentStep.SelectedTimeFrame.EndTime" type="time" step="300" placeholder="e.g. 18:00" autocomplete="off" value="@(Model.EndTime != DateTime.MinValue ? Model.EndTime.ToString(DatePickerHelpers.TIME_FIELD_FORMAT) : "")" />
                    <span id="endtimeselectionError" class="error"></span>
                </div>
            </div>
        </div>
    </div>
}