@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.RequestHelpTimeViewModel;
 
<div class="sm4">
    <div id="time_@Model.ID" data-type="timeframe" data-id='@Model.ID' data-allowcustom="@Model.AllowCustom" data-val="@Model.Days.ToString()" class="tiles__tile @(Model.IsSelected ? "selected" : "" )">
        <div class="tiles__tile__content ">
            <div class="tiles__tile__content__header pt-xs">@Model.TimeDescription</div>
            </div>
        </div>
</div>
            
     







