@model HelpMyStreetFE.Models.RequestHelp.Stages.Detail.RequestorDetails

<div class="user-detail">
    <div class="row">
        <div class="input sm6">
            <label>Your first name</label>
            @Html.TextBoxFor(x => x.Firstname)
            <span class="error"></span>
        </div>
        <div class="input sm6">
            <label>Your last name</label>
            @Html.TextBoxFor(x => x.Lastname)
            <span class="error"></span>
        </div>
    </div>
    <div class="row">
        <div class="input sm6">
            <label>Your mobile number</label>
            @Html.TextBoxFor(x => x.MobileNumber, new { type = "number"})
            <span class="error"></span>
        </div>
        <div class="input sm6">
            <label>Your alternative phone number</label>
            @Html.TextBoxFor(x => x.AlternatePhoneNumber, new { type = "number"})
            <span class="error"></span>
        </div>
    </div>
    <div class="row">
        <div class="input sm6">
            <label>Your email address</label>
            @Html.TextBoxFor(x => x.Email)
            <span class="error"></span>
        </div>
        <div class="input sm6">
            <label>Your postcode</label>
            @Html.TextBoxFor(x => x.Postcode, new { @class= "postcode-input"})
            <span class="error"></span>
        </div>
    </div>
</div>