@model HelpMyStreetFE.Models.RequestHelp.Stages.Detail.RequestHelpDetailStageViewModel
@using HelpMyStreet.Utils.Enums;

<input type="hidden" name="DetailStep" class="model" value='@Json.Serialize(Model)' />
<input type="hidden" name="NeedBothNames" class="model" value="@Model.NeedBothNames.ToString()" />
@Html.HiddenFor(m => m.Type)

@switch (Model.Type)
{
    case RequestorType.Myself:
        <h2>Your details</h2>
        @Html.EditorFor(x => x.Recipient, new { Prefix = "Your", PostcodeRequired = Model.RecipientPostcodeRequired, FullAddressRequired = Model.FullRecipientAddressRequired, BothNamesRequired = Model.NeedBothNames });
        break;
    case RequestorType.OnBehalf:
        <h2>Details for the person who needs the help</h2>
        @Html.EditorFor(x => x.Recipient, new { Prefix = "Their", PostcodeRequired = Model.RecipientPostcodeRequired, FullAddressRequired = Model.FullRecipientAddressRequired, BothNamesRequired = Model.NeedBothNames })
        if (Model.ShowRequestorFields)
        {
            <hr class="input--separator" />
            <h2>Your details</h2>
            @Html.EditorFor(x => x.Requestor)
        }
        break;
    case RequestorType.Organisation:
        <h2>Recipient Contact Details</h2>
        <div class="row">
            <div class="input sm12 pad-md">
                <label for="currentStep_Organisation">Organisation</label>
                @Html.TextBoxFor(x => x.Organisation)
                <span class="error"></span>
            </div>
        </div>
        @Html.EditorFor(x => x.Recipient, "RecipientDetails_Organisation", new { PostcodeRequired = Model.RecipientPostcodeRequired, FullAddressRequired = Model.FullRecipientAddressRequired });
        if (Model.ShowRequestorFields)
        {
            <hr class="input--separator" />
            <h2>Your Details</h2>
            @Html.EditorFor(x => x.Requestor);
        }
        break;
}

<div class="row">
    <div class="sm12">
        <div class="questions" data-position="details1">
            <partial name="_Questions" model="@Model.Questions.GetQuestionsByLocation("details1")" />
        </div>
    </div>
</div>

<hr class="input--separator" />
<h2>Is there anything more you would like to tell us?</h2>

<div class="row">
    <div class="sm12">
        <div class="questions" data-position="details2">
            <partial name="_Questions" model="@Model.Questions.GetQuestionsByLocation("details2")" />
        </div>
    </div>
</div>
