@model HelpMyStreetFE.Models.RequestHelp.Stages.Request.RequestHelpRequestStageViewModel
@using HelpMyStreet.Utils.Enums;
@using Westwind.AspNetCore.Markdown;

<input type="hidden" name="RequestStep" class="model" value='@Json.Serialize(Model)' />
@Html.Hidden("FormStage", RequestHelpFormStage.Request)
@Html.HiddenFor(m => m.RequestGuid)
<input type="hidden" name="selectAction" />
<h2>@Model.PageHeading</h2>
<div class="row">
    <div class="sm12">
        @Markdown.ParseHtmlString(Model.IntoText)
    </div>
</div>

<div class="row">
    <div class="sm12 input">
        <label for="selectedTask">What's the main thing you need help with? </label>
        <div class="tiles">
            <div class="input">
                <input id="selectedTask" type="hidden" name="currentStep.SelectedTask.Id" value="@((int?)Model.Tasks.Where(x => x.IsSelected).FirstOrDefault()?.SupportActivity)" />
                <div class="row">
                    @foreach (var task in Model.Tasks)
                    {
                        @Html.DisplayFor(x => task, "TaskTile")
                    }
                </div>
                <span class="error"></span>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="sm12">
        <div class="questions" data-position="pos1">
            <partial name="_Questions" model="@Model.Questions.GetQuestionsByLocation("pos1")" />
        </div>
    </div>
</div>

<hr class="input--separator mt-lg" />

<h2>Help Description</h2>

<div class="row">
    <div class="sm12">
        <div class="questions" data-position="pos2">
            <partial name="_Questions" model="@Model.Questions.GetQuestionsByLocation("pos2")" />
        </div>
    </div>
</div>

@if (Model.Requestors.Count == 1)
{
    <input type="hidden" id="selectedRequestor" name="currentStep.SelectedRequestor.Id" value="@Model.Requestors.First().ID" />
}
else
{
    <div class="row">
        <div class="sm12 input">
            <label for="selectedRequestor">Who is the help for?</label>
            <div class="tiles">
                <div class="input">
                    <input type="hidden" id="selectedRequestor" name="currentStep.SelectedRequestor.Id" value="@Model.Requestors.Where(x => x.IsSelected).FirstOrDefault()?.ID" />

                    <div class="row">
                        @foreach (var requestor in Model.Requestors)
                        {
                            @Html.DisplayFor(x => requestor, "RequestForTile")
                        }

                    </div>
                    <span class="error"></span>
                </div>
            </div>

        </div>
    </div>

    <hr class="input--separator" />
}

<div class="row">
    <div class="sm12 input">
        <label for="selectedTimeFrame">When is the help needed?</label>

        <div class="tiles">
            <div class="input">
                <input type="hidden" id="selectedTimeFrame" name="currentStep.SelectedTimeFrame.Id" value="@Model.Timeframes.Where(x => x.IsSelected).FirstOrDefault()?.ID" />

                <div class="row">
                    @foreach (var time in Model.Timeframes)
                    {
                        @Html.DisplayFor(x => time, "TimeFrameTile")
                    }
                </div>
                <span class="error"></span>
            </div>
        </div>
    </div>
</div>

<hr class="input--separator" />

<div class="row">
    <div class="sm12">
        <div class="questions" data-position="pos3">
            <partial name="_Questions" model="@Model.Questions.GetQuestionsByLocation("pos3")" />
        </div>
    </div>
</div>





<div class="row">
    <div class="sm10">
        <div class="input input--checkbox">
            <label for="currentStep_AgreeToPrivacyAndTerms" class="small">
                @Html.CheckBoxFor(x => x.AgreeToPrivacyAndTerms, new { hidden = true })
                <span class="input--checkbox__checkbox">
                    <span class="mdi mdi-check"></span>
                </span>
                By checking this box you agree to our <a href="/terms-conditions">Terms</a> and that you have read our <a href="/privacy-policy">Privacy Policy</a>. If you are submitting a request for help on behalf of someone else, you also consent to your information being shared with the person receiving the help.
                <div class="error"></div>
            </label>
        </div>
    </div>
</div>
